*::selection {
   background: #FFA800;
   color: #000;
}
*::-moz-selection{
   background: #FFA800;
   color: #000;
}

body{background:url(images/premios/fondo.png); }

table, th, td, tr{


	border: none;
}
#OPP-div-around-poll div:nth-child(1){
    display: none;
}
mega_main_menu
#.main-menu > .menu_holder > .mmm_fullwidth_container{
	background-color: #FF005F;
}

body::-scrollbar-track
{
	-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}



a{color:#ff9000; }

#colabar {
       background: #232323 none repeat scroll 0 0;
    color: #fff;
    font-family: "gotham_blackregular";
    font-size: 16px;
    height: 28px;
    padding-left: 5px;
    padding-top: 10px;

}


#colabar > div {
    display: block;
    float: right;
    margin-right: 290px;
}



a:hover{text-decoration:none; color: #914d0a;   }

#header-wrapper{ background:url(images/premios/header-bgp.png) repeat-x; 
	background-color: #ffc000;}
			
@font-face {
    font-family: 'DINWeb-Medium';
    src: url('fonts/DINWeb-Medium.eot');
    src: url('fonts/DINWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#title_box{float: none;display: block; margin: 20px auto 10px;}
#top-bar {background: #ffb011; }
#wlogo {background-color:#ffb400;}
#top-bar #header-social{margin-top: -40px;line-height:0px;}
#top-bar #logo { float: none;margin: 0 auto;}
#top-bar #header-social ul li a .icon {color:#ffe7b8;}
#noticias{margin: 0 auto; width: 600px;}

#sec1{overflow:hidden; border-bottom:1px dashed #979797 ; min-height: 180px;}
#sec1 #fecha{color:#979797; font-size: 20px;float: left;width:100%;max-width: 450px; padding: 10px;font-weight: bold;}
#fecha p:first-child {font-size: 50px;line-height:40px;  font-family: "gotham_blackregular";}
#fecha p:nth-child(3){margin-left: 232px;font-size: 12px;font-family: "gotham_blackregular";}
#fecha p:nth-child(4){height: 32px;margin-left: 256px;margin-top: -35px;width: 126px; font-family: "gotham_blackregular";}
#sec1 #votaaqui{float: right;}
#votaaqui a img {max-width: 422px;width: 100%;}

#sec2 {margin-top: 50px; margin-bottom: 50px; overflow:hidden; border-bottom:1px dashed #979797 ;}
#comparte > p { color:#565656;font-size: 30px; font-weight: 600; margin: 13px;font-family: "gotham_blackregular";}
#comparte p:nth-child(2) {  font-size: 35px;}
#comparte p:nth-child(3) {color: hsl(42, 100%, 50%); font-size: 35px;}
#comparte {float: left; line-height: 30px;}
#redes {float: right; }
#redes img {margin-right: 50px;}
#texto {  clear: both;    padding-top: 50px;font-size: 20px;}
#texto > p {   margin: 0 0 20px;}

#sec3 {margin-top: 20px; overflow:hidden; border-bottom:1px dashed #979797 ; padding-bottom: 20px;}
#sec3 img{margin-left: 250px;}

#present{float: left;padding-top: 20px;font-family: "gotham_blackregular";}
#present > p {    font-size: 40px; }
#present p:nth-child(2) { float: right; font-size: 15px;}


#sec4 {margin-top: 20px; overflow:hidden; border-bottom:1px dashed #979797 ; padding-bottom: 30px; text-align: center;}
#c6,#c7,#c8 { overflow:hidden; border-bottom:1px dashed #979797 ; padding-bottom: 30px; text-align: center;}
#colaboran {float: left;font-size: 25px;margin-top: 13px; font-family: "gotham_blackregular";}
#sec4 > img { float: left;}
#sec4 img ,#sec3 img {}
#sec4 img:nth-child(4) {clear: both; }
#sec4 a:nth-child(5) {margin: 0 20px 0 -170px }
#sec4 a:nth-child(7) {margin-left: 280px;}
#bt { display: block;    float: left;    margin-left: 250px;    margin-top: 55px; }
#sec4 a:nth-child(8) {margin-left: 190px;}

#klu {margin-bottom: -30px;}

#not {font-size: 35px;margin: 0 auto 30px auto; max-width: 180px; padding: 5px;}
#Noticias {margin: 0 auto;width: 80%;}
#sec5 {margin-top: 20px; overflow: auto; }

section.slider{width: 100%;max-width:1180px;height:385px;clear:both;margin: 0 auto;}
#vslider{background-color: #232323; width: 100%;min-width: 1015px; }
#vslider img{width: 100%;}



#premiacion{float: left; padding: 15px; font-size: 20px;}
#colab{margin-top: 15px;}
#colab img{float: right;margin-top: -5px; }
#ea{ margin-left: 120px;
    }




#featuredContent article {
	position: absolute;
	width:960px;
}
table{background: none;line-height: 15px;}


#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	display: block;
	float:right;
	clear: both;
	margin-right:30px;
	margin-top:30px;
}
#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
#featuredContent * article h2, #featuredContent * article span{
	font-family: 'LeagueGothic';
}
#featuredContent * article h2{
	margin-top: 45px;
	padding:8px 8px;
	font-size:4.5em;
}
#featuredContent * article span{
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:2.0em;
}
#featuredContent * article p.detalletxt{
	font-family:'latohairline';
	width: 362px;
	font-size: 1.1em;
	text-align:right;
	line-height: 22px;

}

.nomina{position:relative;padding-left:880px;padding-top:60px;}
.nomina:first-child{margin:50px 0 0 150px;}

#carreras{background-image: url(../img/carreras.jpg);}
#deporte{background-image: url( ../img/deporte.jpg);}
#fk{background-image: url( ../img/fk.jpg);}

#fps{background-image: url( ../img/fps.jpg);}
#indie{background-image: url( ../img/indie.jpg);}
#mejorjuego{background-image: url( ../img/mejorjuego.jpg);}

#multi{background-image: url( ../img/multi.jpg);}
#mundoabierto{background-image: url( ../img/mundoabierto.jpg);}
#nintendo{background-image: url( ../img/nintendo.jpg);}

#pc{background-image: url( ../img/pc.jpg);}
#peleas{background-image: url( ../img/peleas.jpg);}
#personaje{background-image: url( ../img/personaje.jpg);}

#playstation{background-image: url( ../img/playstation.jpg);}
#polemica{background-image: url( ../img/polemica.jpg);}
#portatiles{background-image: url( ../img/portatiles.jpg);}

#remastered{background-image: url(../img/remastered.jpg);}
#rpg{background-image: url( ../img/rpg.jpg);}
#xbox{background-image: url( ../img/xbox.jpg);}


 @media all and (max-width: 1024px) {

 		#main_content{overflow:none; }
    	#vslider{ min-width: auto;}
    	.nomina{padding: 50px;}
    	.nomina > div {float: left; margin-top: 100px;	}
    	.orbit-wrapper .slider-nav span.right{left: 0;width: auto; background-size: cover; }
    	.orbit-wrapper .slider-nav span.left {display: none; }


    }