.inicio{
	position:relative;
	width: 960px;
	background:#389ACB;
	background-repeat: no-repeat;
	background-position: center center;
}	


.ps3{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#848383;
	background-repeat: no-repeat;
	background-position: center center;
}

.xbox{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#686507;
	background-repeat: no-repeat;
	background-position: center center;
}	

.wiiu{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#0000dd;
	background-repeat: no-repeat;
	background-position: center center;
}	

.pc{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#664020;
	background-repeat: no-repeat;
	background-position: center center;
}	

.portatil{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#cc2944;
	background-repeat: no-repeat;
	background-position: center center;
}

.nextgen{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#02562c;
	background-repeat: no-repeat;
	background-position: center center;
}	

.art{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#292977;
	background-repeat: no-repeat;
	background-position: center center;
}

.poke{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#592884;
	background-repeat: no-repeat;
	background-position: center center;
}		

.hype{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#cccc21;
	background-repeat: no-repeat;
	background-position: center center;
}		

.hipster{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#02998a;
	background-repeat: no-repeat;
	background-position: center center;
}	


.nadie{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#9e72cc;
	background-repeat: no-repeat;
	background-position: center center;
}	

.mijita{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#db6a7d;
	background-repeat: no-repeat;
	background-position: center center;
}	

.wachin{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#918279;
	background-repeat: no-repeat;
	background-position: center center;
}	

.negro{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:black;
	background-repeat: no-repeat;
	background-position: center center;
}	

.machista{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#8ddbd7;
	background-repeat: no-repeat;
	background-position: center center;
}	

.polemica{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#351a09;
	background-repeat: no-repeat;
	background-position: center center;
}

.estudio{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#ceb8a1;
	background-repeat: no-repeat;
	background-position: center center;
}		

.casi{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#f4c70b;
	background-repeat: no-repeat;
	background-position: center center;
}	

.shitty{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#d13d24;
	background-repeat: no-repeat;
	background-position: center center;
}	

.goty{
	position:relative;
	width: 960px;
	padding-left:500px;
	padding-top:50px;
	background:#a5c6db;
	background-repeat: no-repeat;
	background-position: center center;
}	









#featuredContent article {
	position: absolute;
	width:960px;
}


#featuredContent .box_img{
	width:393px;
	height:315px;
	float:left;
	left:45px;
	top:45px;


}

#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	display: block;
	float:right;
	clear: both;
	margin-right:30px;
	margin-top:30px;
}
#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
#featuredContent * article h2, #featuredContent * article span{
	font-family: 'LeagueGothic';
}
#featuredContent * article h2{
	margin-top: 45px;
	padding:8px 8px;
	font-size:4.5em;
}
#featuredContent * article span{
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:2.0em;
}
#featuredContent * article p.detalletxt{
	font-family:'latohairline';
	width: 362px;
	font-size: 1.1em;
	text-align:right;
	line-height: 22px;

}


