*::selection {
   background: #FFA800;
   color: #000;
}
*::-moz-selection{
   background: #FFA800;
   color: #000;
}

body{background:url(images/premios/fondo.png); }
body::-scrollbar-track
{
	-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}



a{color:#ff9000; }
a:hover{text-decoration:none; color: #914d0a;   }

#header-wrapper{ background:url(images/premios/header-bgp.png) repeat-x; 
	background-color: #ffc000;}
			
@font-face {
    font-family: 'DINWeb-Medium';
    src: url('fonts/DINWeb-Medium.eot');
    src: url('fonts/DINWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#top-bar {background: #ffb011; }
#wlogo {background-color:#ffb400;}
#top-bar #header-social{margin-top: -40px;line-height:0px;}
#top-bar #logo { float: none;margin: 0 auto;}
#top-bar #header-social ul li a .icon {color:#ffe7b8;}
#noticias{margin: 0 auto; width: 600px;}

#sec1{overflow:hidden; border-bottom:1px dashed #979797 ;}
#sec1 #fecha{color:#979797; font-size: 20px;float: left;width:100%;max-width: 450px; padding: 10px;font-weight: bold;}
#fecha p:first-child {font-size: 50px;line-height:40px;}
#fecha p:nth-child(3){margin-left: 232px;font-size: 12px;}
#fecha p:nth-child(4){height: 32px;margin-left: 256px;margin-top: -35px;width: 126px;}
#sec1 #votaaqui{float: right;}
#votaaqui a img {max-width: 422px;width: 100%;}

#sec2 {margin-top: 50px; overflow:hidden; border-bottom:1px dashed #979797 ;}
#comparte > p { font-size: 30px; font-weight: 600; margin: 13px;}
#comparte p:nth-child(2) {  font-size: 35px;}
#comparte p:nth-child(3) {color: hsl(42, 100%, 50%); font-size: 35px;}
#comparte {float: left; line-height: 30px;}
#redes {float: right; }
#redes img {margin-right: 50px;}
#texto {  clear: both;    padding-top: 50px;}
#texto > p {   margin: 0 0 20px;}

#sec3 {margin-top: 20px; overflow:hidden; border-bottom:1px dashed #979797 ; padding-bottom: 20px;}
#sec3 > img{float: left;}
#present{float: left;padding-top: 20px;}
#present > p {    font-size: 40px; }
#present p:nth-child(2) { float: right; font-size: 15px;}


#sec4 {margin-top: 20px; overflow:hidden; border-bottom:1px dashed #979797 ; padding-bottom: 30px; text-align: center;}
#colaboran {float: left;font-size: 25px;margin-top: 13px;}
#sec4 > img { float: left;}
#sec4 img ,#sec3 img {margin-left: 25px;}
#sec4 img:nth-child(4) {clear: both; }
#sec4 a:nth-child(5) {margin: 0 50px 0 100px }
#sec4 a:nth-child(7) {margin-left: 60px;}
#sec4 a:nth-child(8) {margin-left: 190px;}

#klu {margin-bottom: -30px;}

#not {font-size: 35px;margin: 0 auto 30px auto; max-width: 180px; padding: 5px;}
#Noticias {margin: 0 auto;width: 80%;}
#sec5 {margin-top: 20px; overflow: auto; }

section.slider{width: 100%;max-width:1015px;height:385px;clear:both;margin: 0 auto;}
#vslider{background-color: #232323; width: 100%;min-width: 1015px; }
#vslider img{width: 100%;}



#premiacion{float: left; padding: 15px; font-size: 20px;}
#colab{margin-top: 15px;}
#colab img{float: right;margin-top: -5px; }




#featuredContent article {
	position: absolute;
	width:960px;
}
table{background: none;line-height: 15px;}


#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	display: block;
	float:right;
	clear: both;
	margin-right:30px;
	margin-top:30px;
}
#featuredContent * article h2, #featuredContent * article span, #featuredContent * article p{
	color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
}
#featuredContent * article h2, #featuredContent * article span{
	font-family: 'LeagueGothic';
}
#featuredContent * article h2{
	margin-top: 45px;
	padding:8px 8px;
	font-size:4.5em;
}
#featuredContent * article span{
	padding-top: 4px;
	padding-bottom: 4px;
	font-size:2.0em;
}
#featuredContent * article p.detalletxt{
	font-family:'latohairline';
	width: 362px;
	font-size: 1.1em;
	text-align:right;
	line-height: 22px;

}

.nomina{position:relative;padding-left:750px;padding-top:75px;}
.nomina:first-child{margin:50px 0 0 150px;}
#juego{background-image: url(/premioscolemono14/votacion/img/mejor.jpg);}
#ninty{background-image: url(/premioscolemono14/votacion/img/mejor-ninty.jpg);}
#ps{background-image: url(/premioscolemono14/votacion/img/mejor-ps.jpg);}
#xbox{background-image: url(/premioscolemono14/votacion/img/mejor-xbx.jpg);}
#pc{background-image: url(/premioscolemono14/votacion/img/mejor-pc.jpg);}

#por{background-image: url(/premioscolemono14/votacion/img/mejor-portatil.jpg);}
#multi{background-image: url(/premioscolemono14/votacion/img/mejor-multi.jpg);}
#pj{background-image: url(/premioscolemono14/votacion/img/mejor-pj.jpg);}
#fk{background-image: url(/premioscolemono14/votacion/img/fk.jpg);}
#phd{background-image: url(/premioscolemono14/votacion/img/hd.jpg);}

#pole{background-image: url(/premioscolemono14/votacion/img/polemica.jpg);}
#pes{background-image: url(/premioscolemono14/votacion/img/futbol.jpg);}
#race{background-image: url(/premioscolemono14/votacion/img/carreras.jpg);}
#pele{background-image: url(/premioscolemono14/votacion/img/peleas.jpg);}
#rpg{background-image: url(/premioscolemono14/votacion/img/rpg.jpg);}

#fps{background-image: url(/premioscolemono14/votacion/img/fps.jpg);}
#indie{background-image: url(/premioscolemono14/votacion/img/indie.jpg);}
#p2015{background-image: url(/premioscolemono14/votacion/img/esperado.jpg);}
#voto{background-image: url(/premioscolemono14/votacion/img/voto.jpg);}