.wp_review_tab_widget_content {
    position: relative;
}
.wp_review_tab_widget_content img {
    max-width: 100%;
    height: auto;
}
.wp_review_tab_widget_content a {
    color: #444;
}
.wp_review_tab_widget_content ul.wp-review-tabs li {
    list-style: none;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 !important;
}
.wp_review_tab_widget_content ul.has-1-tabs li {
    width: 100%;
    float: none;
    margin: 0 auto;
}
.wp_review_tab_widget_content ul.has-2-tabs li {
    
}
.wp_review_tab_widget_content ul.has-3-tabs li {
    width: 33.33%;
}
.wp_review_tab_widget_content ul.has-4-tabs li {
    width: 50%;
}
.wp_review_tab_widget_content .tab_title a {
    display: block;
    background: #f0f0f0;
    border-left: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding: 2px 0 4px;
    line-height: 2.4;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
.wp_review_tab_widget_content .tab_title:first-child a {
    margin-left: 0;
    border-left: 0;
}
.wp_review_tab_widget_content .tab_title.selected a {
    background: #fff;
    border-bottom: 1px solid #fff;
}


.wp_review_tab_widget_content .inside {
    background: #fff;
    padding-top: 10px;
}
.wp_review_tab_widget_content .tab-content li {
    list-style-type: none;
    float: left;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 15px 0;
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid #E4E4E4;
    text-align: left;
    color: #444;
    background: none;
    position: relative;
}
.wp_review_tab_widget_content .tab-content li:last-child {
    border: none;
    margin-bottom: 0;
}
.wp_review_tab_widget_content .tab-content li:first-child {
    padding-top: 5px;
}

.wp_review_tab_thumb_small {
    float: left;
    margin-right: 12px;
    padding-top: 4px;
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.wp_review_tab_thumb_large {
    float: none;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
}
.wp_review_tab_widget_content .entry-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.wp_review_tab_widget_content .wp-review-tab-postmeta {
    color: #999;
    font-size: 13px;
    float: right;
    margin-top: 5px;
}
.wp_review_tab_widget_content .wp-post-image {
    margin: 0 !important;
}



/* Pagination */
.wp_review_tab_widget_content .wp-review-tab-pagination {
    margin: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 15px;
    float: left;
}
.wp_review_tab_widget_content .wp-review-tab-pagination a {
    margin: 0 15px;
}
.wp-review-tab-pagination a.next {
    float: right;
}

/* Loading... */
.wp-review-tab-loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
.clear {
    clear: both;
}

/* Rating... */
.review-total-only.small-thumb {
    font-size: 15px;
    font-weight: bold;
    padding: 0 4px;
    margin-top: 4px;
    float: left;
}
.review-total-only.small-thumb.review-type-star {
    background: none;
    padding: 0;
}
.review-total-only.large-thumb {
    position: absolute;
    top: 0; right: 15px;
}
li:first-child .review-total-only.large-thumb {
    top: 5px;
    right: 15px;
    display: block;
}
.review-total-only.small-thumb .review-result-wrapper i {
    color: #444 !important;
}
.wp_review_tab_widget_content .has-4-tabs .tab_title.selected a {
    border-bottom: 1px solid #E4E4E4;
}
.wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(3) a {
    border-left: 0;
}
.title-right {
    overflow: hidden;
}