/* Styles for Option Panel V_2.0 */

.clearfix { clear: both; }

:focus {
outline: 0;
}

#options ol, #options ul {
list-style: none;
}

#alloptions { 
margin: 25px auto 10px;
float: left;
position: relative; 
width: 701px; 
}

.content-div {
position: relative;
padding: 0px 0px 25px 0px;
}

#options { 
border-bottom: none;
width: 500px; 
font-family: Arial, sans-serif;
float: right;
padding-bottom: 5px;
margin: 0px 0 0 0px;
background: #fff;
}
 
#options a { text-decoration: none; }
	
#options-content .options-box {
border-bottom: 1px solid #eee; 
width: 480px; 
background: #fff; 
margin: 0px 0px 0px 0px; 
padding: 10px 10px 10px 10px;
}

#options-content .options-tabs{
width: 480px; 
 float: left;
 clear: none;
 }

#options-content .options-box .box-content { 
padding: 5px;
clear: both; 
 }
 
#options-content .options-box input, #options-content .options-box select, .options-box textarea {
 border: 1px solid #d5d5d5; 
 font-size: 14px; 
 color: #333;
 width: 450px; 
 height: 30px;
 font-family: Arial, sans-serif; 
 margin: 0px 0 10px 10px; 
 }
 
 #options-content .options-box input:focus {
padding: 1px 0 1px 3px;
box-shadow: 0px 0px 4px #a5a5a5;
-webkit-box-shadow: 0px 0px 4px #a5a5a5;
-moz-box-shadow: 0px 0px 4px #a5a5a5;
 }
 
#options-content .options-box textarea:focus {
padding: 3px 0 1px 3px;
box-shadow: 0px 0px 4px #a5a5a5;
-webkit-box-shadow: 0px 0px 4px #a5a5a5;
-moz-box-shadow: 0px 0px 4px #a5a5a5;
 }

#options-content .options-box select {
width: 300px; 
height: 30px;
margin: 0px 0 10px 10px; 
padding: 6px 0 0px 0px;
}
 
#options-content .options-box textarea { 
height: 200px; 
 margin: 0px 0 10px 10px; 
} 

#options-content .options-box input.usual-checkbox { 
border: none; 
background: none; 
padding: 0px; 
width: 15px;
}

#options-content .options-box p.inputs { 
margin-bottom: 5px; 
}

#options .options-box div.box-title {
display: inline-block;
padding: 15px 0px 5px 18px;
width: 460px;
}

#options .options-box div.box-title h3 { 
color: #222; 
font-weight: bold;
display: inline-block; 
line-height: 22px;
font-size: 16px; 
float: left; 
width: 420px; 
}	
	
#options .options-box div.box-title img{
opacity: 0.2;
width: 16px;
height: 16px;
position: relative;
display: inline-block;
float: right;
cursor: pointer;
margin: -8px 5px 0 5px;
transition: 0.2s;
}

#options .options-box div.box-title img:hover{
opacity: 0.8;
}


 
#tab_logo{
width: 200px;
height: 109px;
margin: 0px;
background: url(../images/header.png) no-repeat;
} 
 
#options-content ul.tabs { 
width: 200px;
height: 550px;
background: url(../images/tab_container.png) no-repeat;
position: absolute; 
top: 0px; 
left: 0px;
padding: 0px;
}

#options-content ul.tabs li {
float: left;
}
 
#options-content ul.tabs li a {
border-bottom: 1px solid #393939;
width: 145px;
display: block;
font-size: 11px;
padding: 5px 5px 5px 50px;
line-height: 25px;
color: #fff; 
text-transform: uppercase;
font-weight: bold;
transition: 0.2s;
}
 
#options-content ul.tabs li a:hover {
background-color: #a7d700!important; 
} 
 
#options-content ul.tabs li.ui-tabs-active a {
background-color: #a7d700!important; 
}	

#options-content ul.tabs li:nth-child(2n) a{
background: url('../images/general_settings.png') 5px no-repeat;
}
 
#options-content ul.tabs li:nth-child(3n) a{
background: url('../images/featured.png') 5px no-repeat;
}
 
#options-content ul.tabs li:nth-child(4n) a{
background: url('../images/pages.png') 5px no-repeat;
}  
 
#options-content ul.tabs li:nth-child(5n) a{
background: url('../images/page.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(6n) a{
background: url('../images/page.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(7n) a{
background: url('../images/colorization.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(8n) a{
background: url('../images/social.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(9n) a{
background: url('../images/seo.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(10n) a{
background: url('../images/pen.png') 5px no-repeat;
}  

#options-content ul.tabs li:nth-child(11n) a{
background: url('../images/layout.png') 5px no-repeat;
border-bottom: none;
}  

#options-content ul.tabs li {
padding-right: 10px; 
}							
	
#save_reset	{
background: #fff;
display: inline-block;
width: 500px;
height: 80px;
margin: 0px 0px 40px 201px;
}
	
#options-save, #options-reset {
text-indent: -9999px;
border: none;
cursor: pointer;
}
 
#options-save {
background: url('../images/save.png') no-repeat;
width: 144px;
height: 54px;
float: right;
margin: 0px 90px 10px 0px;
}
 
#options-reset {
background: url('../images/reset.png') no-repeat;
width: 144px;
height: 54px;
float: left;
margin: 0px 0px 10px 90px;
}
 
.ui-tabs-hide, .box-descr {
display: none;
}



.jquery-checkbox { 
cursor: pointer; 
border: none; 
}

.jquery-checkbox img { 
background: transparent url(../images/switches2.png) no-repeat; 
vertical-align: middle; 
border: none;
width: 109px; 
height: 35px; 
transition: 0.2s;
}

.jquery-checkbox img { 
background-position: 0px 0px; 
border: none;
margin-bottom: 5px !important;
margin-left: 15px !important;
}

.jquery-checkbox-checked img { 
background-position: -109px 0px;
border: none;
}

#options-content div.content-div .inner-content { 
padding: 0px 25px 0px 0px; 
}

#options-content div.content-div .inner-content .boldtext { 
color:#657783; 
font-size:15px; 
font-weight:bold; 
}

#options-content div.content-div .inner-content .indent { 
margin-bottom:15px; 
margin-top:6px; 
padding-left:27px; 
}

#options-content div.content-div .inner-content p { 
padding: 10px 0px; 
color:#535353; 
font-family:Arial,Helvetica,sans-serif; 
font-size:12px;
line-height:22px; 
}


.colorpicker { 
width: 356px; 
height: 176px; 
overflow: hidden; 
position: absolute; 
background: url(../images/custom_background.png); 
font-family: Arial, Helvetica, sans-serif; 
display: none;
margin-left: 40px; 
}

.colorpicker_color { 
width: 150px; 
height: 150px; 
left: 14px; 
top: 13px; 
position: absolute; 
background: #f00; 
overflow: hidden; 
cursor: crosshair;
}
.colorpicker_color div { 
position: absolute; 
top: 0; 
left: 0; 
width: 150px;
height: 150px; 
background: url(../images/colorpicker_overlay.png); 
}

.colorpicker_color div div { 
position: absolute; 
top: 0; 
left: 0; 
width: 11px; 
height: 11px; 
overflow: hidden; 
background: url(../images/colorpicker_select.gif); 
margin: -5px 0 0 -5px; 
}

.colorpicker_hue { 
position: absolute; 
top: 13px; 
left: 171px; 
width: 35px; 
height: 150px; 
cursor: n-resize; 
}

.colorpicker_hue div { 
position: absolute; 
width: 35px; 
height: 9px; 
overflow: hidden; 
background: url(../images/custom_indic.gif) left top;
margin: -4px 0 0 0; 
left: 0px; 
}

.colorpicker_new_color {	
position: absolute; 
width: 60px; 
height: 30px; 
left: 213px; 
top: 13px; 
background: #f00; 
}

.colorpicker_current_color { 
position: absolute; 
width: 60px; 
height: 30px; 
left: 283px; 
top: 13px; 
background: #f00; 
}

#options .colorpicker input, .colorpicker input { 
background-color: transparent !important;	
border: 1px solid transparent !important; 
position: absolute !important;	
font-size: 10px !important;	
font-family: Arial, Helvetica, sans-serif !important; 
color: #898989 !important; 
top: 4px !important; 
right: 11px !important; 
text-align: right !important; 
margin: 0 !important; 
padding: 0 !important; 
height: 12px !important; 
background-image: none !important;
width: 35px;
}

.colorpicker_hex { 
position: absolute; 
width: 72px; 
height: 22px; 
background: url(../images/custom_hex.png) top; 
left: 212px; 
top: 142px; 
}

#options .colorpicker_hex input, .colorpicker_hex input { 
width: 39px; 
} 

.colorpicker_field {
height: 22px; 
width: 62px; 
background-position: top; 
position: absolute; 
}

.colorpicker_field span { 
position: absolute;	
width: 12px; 
height: 22px; 
overflow: hidden; 
top: 0; 
right: 0; 
cursor: n-resize; 
}

.colorpicker_rgb_r {	
background-image: url(../images/custom_rgb_r.png); 
top: 52px; 
left: 212px; 
}

.colorpicker_rgb_g {
background-image: url(../images/custom_rgb_g.png); 
top: 82px; 
left: 212px; 
}

.colorpicker_rgb_b { 
background-image: url(../images/custom_rgb_b.png); 
top: 112px; 
left: 212px; 
}

.colorpicker_hsb_h {	
background-image: url(../images/custom_hsb_h.png); 
top: 52px; 
left: 282px; 
}

.colorpicker_hsb_s {	
background-image: url(../images/custom_hsb_s.png); 
top: 82px; 
left: 282px; 
}

.colorpicker_hsb_b {	
background-image: url(../images/custom_hsb_b.png); 
top: 112px; 
left: 282px; 
}

.colorpicker_submit { 
position: absolute; 
width: 22px; 
height: 22px;	
background: url(../images/custom_submit.png) top; 
left: 322px; 
top: 142px;
overflow: hidden;
}

.colorpicker_focus {	
background-position: center; 
}

.colorpicker_hex.colorpicker_focus {
background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
 background-position: bottom;
}
 
.colorpicker_slider {
 background-position: bottom;
}

 #options pre, #options sub, #options sup, #options em {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
 
#options span, #options applet, #options object, #options iframe, #options h1, #options h2, #options h3, #options h4, #options h5, #options h6, #options p, #options blockquote, #options a, #options abbr, #options acronym, #options address, #options big, #options cite, #options code, #options del, #options dfn, #options font, #options img, #options ins, #options kbd, #options q, #options s, #options samp, #options small, #options strike, #options strong, #options tt, #options var, #options fieldset, #options dl, #options dt, #options dd, #options ol, #options ul, #options li, #options form, #options label, #options legend, #options table,#options  caption, #options tbody, #options tfoot, #options thead, #options tr, #options th, #options td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

#options .options-box .upload_image_button {
background: #363636;
 color:#fff; 
 float: right; 
 font-size:11px; 
 font-weight:bold; 
 margin: -40px 10px 0 0; 
 padding:4px; 
 width:100px; 
 cursor: pointer; 
-webkit-transition: all .3s ease;
}

#options .options-box .upload_image_button:hover {
opacity: 0.8;
}

.updated_fade {
display: inline-block;
width: 700px;
height: 50px;
color: #fff;
text-align: center;
background: #333;
}

.updated_fade  p{
font-size: 18px;
margin: 10px 0 0px 0px;
}

