ul.pagenavigation li a
{
	float: left;
	margin: 0 0 0 7px;
}

ul.pagenavigation li#prevnav a
{
	float: right;
	margin:	0 7px 0 0;
}


.post .entry-info,
.postmetadata,
.sidebar ul li,
#subnav,
#subnav2,
ul.widgetnav,
#main
{
	zoom: 1;
}

#header li { margin-left: 1px; }

#header li a span
{
	width: 92px;
}

#header li a.rss span
{
	width: 32px;
}

#header #blogdescrip
{
	float: left;
}

ol
{
	margin-left: 2em;
}

ul.commentlist li {
	height: 1%;
}
