/* 
* Plugin Name: WP Review
* Plugin URI: http://mythemeshop.com/plugins/wp-review/
* Description: Create reviews! Choose from Stars, Percentages or Points for review scores. Supports Retina Display, WPMU & Unlimited Color Schemes.
* Version: 3.2.1
* Author: MyThemesShop
* Author URI: http://mythemeshop.com/
*/
.review-wrapper { border: 1px solid #e7e7e7; margin-bottom: 1.5em; overflow: hidden; clear: both; }
.review-title { background-color: #f6f6f6; border-bottom: 1px solid #e7e7e7; margin: 0; padding: 10px 15px; }
.review-wrapper .review-list { margin: 0; list-style: none; padding: 0; }
.review-list li { border-bottom: 1px solid #e7e7e7; padding: 10px 15px; position: relative; list-style: none; }
.review-list li:nth-child(even) { background-color: #fafafa }
.review-list li:last-child { border-bottom: 1px solid #e7e7e7 }
.review-summary-title { margin-bottom: 5px }
.review-desc { float: left; width: 75%; padding: 10px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.review-desc p:last-child { margin-bottom: 0 }
.review-result-wrapper i { font-style: normal; font-size: 16px; }
.review-result { position: absolute; top: 0; left: 0; height: 22px; overflow: hidden; white-space: nowrap; }
.review-total-wrapper { float: right; margin: 0; margin-right: 0; padding-right: 0; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: 15px; }
.review-total-wrapper span.review-total-box { border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; display: block; font-size: 40px; font-weight: 700; text-align: right; margin: 0; padding: 35px 0 20px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.review-total-wrapper span.review-total-box small { font-size: 12px; display: block; }
.percentage-icon { font-size: 22px; position: relative; top: -14px; }
.review-total-star { position: relative; margin-top: 5px; margin: 5px auto 15px auto; float: right; }
.review-total-star.allowed-to-rate { margin-top: -10px }
.review-total-star.allowed-to-rate.has-not-rated-yet a { cursor: pointer }
.review-total-star.allowed-to-rate.has-not-rated-yet:hover .review-result { opacity: 0; filter: alpha(opacity=0); display: none; }
.review-total-star.allowed-to-rate.has-not-rated-yet a:hover > i { opacity: 1; filter: alpha(opacity=1); }
.review-total-star.allowed-to-rate a.hovered i { opacity: 1!important; filter: alpha(opacity=1)!important; }
.mts-review-wait-msg { display: none }
.review-total { position: absolute; top: 0px; left: 0px; height: 16px; z-index: 99; text-indent: -9999px; }
.review-star { position: absolute; right: 15px; top: 10px; }
/**
 * Bar & Percentage Point
 */
.bar-point .review-star, .percentage-point .review-star { position: relative; margin: 6px 0; top: 0; right: 0; }
.bar-point .review-result-wrapper, .percentage-point .review-result-wrapper { background: rgba(0,0,0,0.1) 0 -24px repeat-x; width: 100%; height: 22px; }
.bar-point .review-result, .percentage-point .review-result { position: absolute; top: 0px; left: 0px; height: 22px; z-index: 99; text-indent: -9999px; }
.review-total-star.allowed-to-rate .review-result-wrapper { background: none }
/**
 * Twenty series themes compatibilty
 */
.entry-content .review-title, #content .review-title { margin: 0 }
.entry-content .review-wrapper li { margin: 0 }
.entry-content .review-summary-title, #content .review-summary-title { margin-bottom: 5px }
#content .review-list { margin: 0 }
#content .review-desc p:last-child { margin-bottom: 0 }
/**
 * Basic styling for wp_review_display_total
 */
.review-total-only { padding: 3px 8px; background: #fff; display: inline-block; }
.review-total-only .percentage-icon { font-size: inherit; top: 0; }
.review-total-only .review-type-star { font-size: 12px; padding: 3px 6px; }
.review-total-only .review-total-star { font-size: 12px; margin: 0; }
.review-result-wrapper i { opacity: 0.50; filter: alpha(opacity=50); }
.review-result-wrapper .review-result i { opacity: 1; filter: alpha(opacity=100); }
/**
 * Users review area
 */
.user-review-area { border-top: 1px solid #e7e7e7; overflow: hidden; padding: 10px 15px; position: relative; clear: both; }
.user-total-wrapper { float: left; margin: 0; }
.review-total-star.allowed-to-rate { float: right; margin: 0; }
.user-total-wrapper .user-review-title { font-weight: bold;margin:0; }
/**
 * Review in comments
 */
.wp-review-comment-field { margin-bottom: 10px }
.review-comment-field-msg { margin-right: 12px }
.review-total-star-comments { position: relative; display: inline-block; }
.comment-text-inner { clear: both }
.wp-review-comment-field a { opacity: 0.5; filter: alpha(opacity=50); }
.wp-review-comment-field.allowed-to-rate a { cursor: pointer }
.wp-review-comment-field.allowed-to-rate.has-not-rated-yet a { }
.wp-review-comment-field.allowed-to-rate .review-result-wrapper:hover a { opacity: 0.5; filter: alpha(opacity=50); }
.wp-review-comment-field.allowed-to-rate .review-result-wrapper:hover .review-result { display: none }
.wp-review-comment-field.allowed-to-rate .review-result-wrapper a:hover { opacity: 1; filter: alpha(opacity=100); }
/**
 * Show on thumbnails
 */
.wp-review-thumbnail-wrapper { position: relative }
.wp-review-on-thumbnail { position: absolute; top: 0; right: 0; background: #fff; padding: 2px 4px; }
.wp-review-on-thumbnail.review-type-star .review-total-star { margin: 0 }
.review-type-circle.latestPost-review-wrapper, .review-type-circle.wp-review-on-thumbnail { height: 35px ; background: #fff;}
.latestPost-review-wrapper .wp-review-circle-rating, .wp-review-on-thumbnail .wp-review-circle-rating { font-size: 11px !important; }
.review-type-circle.review-total-only, .review-type-circle.wp-review-show-total { padding-top: 6px; }
/**
 * Font icon
 */
@font-face {
  font-family: 'font-icons';
  src: url('../fonts/font-icons.eot');
  src: url('../fonts/font-icons.eot') format('embedded-opentype'),
       url('../fonts/font-icons.woff') format('woff'),
       url('../fonts/font-icons.ttf') format('truetype'),
       url('../fonts/font-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="mts-icon-"]:before, [class*=" mts-icon-"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 2px;
}

[class*="mts-icon-loader"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.mts-icon-star:before { content: '\e800'; }
.mts-icon-loader:before { content: '\e801'; }

/*
   Spin Animation For Loader
*/
.animate-spin {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin { 
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-webkit-keyframes spin { 
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-o-keyframes spin { 
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-ms-keyframes spin { 
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes spin { 
  0% { -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
/*-----------------------------------------------------*/
/* Responsvie
/*-----------------------------------------------------*/
@media screen and (max-width:1040px) { 
  .review-desc { width: 71% }
}
@media screen and (max-width:860px) { 
  .review-desc { width: 66% }
}
@media screen and (max-width:470px) { 
  .review-desc { padding: 4%; width: 100%; }
  .review-total-wrapper { width: 100%; margin-right: 0; }
  .review-total-wrapper span.review-total-box { padding: 10px 0 20px; text-align: left; padding-left: 10px; }
  .review-total-star { position: absolute; right: 20px; top: 5px; }
  .user-total-wrapper { width: 96% }
  .review-total-star.allowed-to-rate { position: relative; right: auto; left: 0; float: left; }
}