

@media only screen and (min-width: 978px) and (max-width: 1200px){


#all_content.boxed_width{
max-width: 968px;
}

#all_content.boxed_width div{
max-width: 968px;
}

#all_content.boxed_width .inner{
max-width: 948px!important;
}

.inner{
max-width: 948px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 968px!important;
}

.menu_inner{
max-width: 968px!important;
}

.nav_logo{
padding: 0px 20px 0 20px!important;
}

.feat_post_box:first-child h2 a{
max-width: 90%;
font-size: 35px;
line-height: 45px;
}

.feat_post_box h2 a{
font-size: 17px;
line-height: 27px;
}

#home_feat_posts_one{
height: 320px;
}

.feat_post_box_one:first-child h2 a{
max-width: 90%;
font-size: 35px;
line-height: 45px;
}

.feat_post_box_one h2 a{
font-size: 17px;
line-height: 27px;
}

#home_feat_posts_two{
height: 455px;
}

.feat_post_box_two:first-child .title_author_box{
top: 240px;
}


#home_feat_posts_three{
height: 480px;
}

#home_feat_posts_three .feat_post_box_three{
display: none;
}

#home_feat_posts_three .feat_post_box_three:first-child{
height: 470px;
}

.feat_post_box_three:first-child .title_author_box{
top: 220px;
}

#home_feat_posts_four{
height: 480px;
}

#home_feat_posts_four .feat_post_box_four:first-child{
height: 470px;
}

#home_feat_posts_four .feat_post_box_four{
display: none;
}

.feat_post_box_four:first-child .title_author_box{
top: 200px;
width: 90%;
}

.popular_posts_title_box{
bottom: 10px;
}

.footer_popular_posts_box:first-child .popular_posts_title_box h4 a{
font-size: 25px;
line-height: 35px;
}

.footer_popular_posts_box h4 a{
font-size: 17px;
line-height: 27px;
}

#wowslider-container1 .ws-title{
padding: 170px 15%;
}

.sw-navigation {
top: 100px;
}

.widget_menu_posts li{
width: 17.8%!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 21.9%!important;
}

.widget_menu_title a{ 
font-size: 13px!important;
line-height: 21px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 13px!important;
line-height: 21px!important;
}

.tab_nav {
width: 180px;
}





#banner_header_728 img{
max-width: 700px;
}

#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 11%;
max-width: 700px;
}

.wrapHighlight {
width: 700px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 700px!important;
max-width: 700px!important;
height: auto!important;
margin: 0px!important;
}

#sidebar-footer{
width: 100%;
}

.footer-widget{
width: 285px;
margin: 10px 0px 20px 10px!important;
}

.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 220px;
}


#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#home_content{
width: 580px; 
}


#home_content.content_full_width{
width: 100%; 
}

.main_post.first_post,
.main_post {
width: 47%;
}

#home_content.content_full_width .main_post.first_post,
#home_content.content_full_width .main_post {
width: 48%;
}

.main_post .meta_info_box,
.main_post.first_post.main_featured_post .meta_info_box{
display: none;
}

.main_post.first_post.main_featured_post .main_title {
bottom: auto;
top: 20px;
font-size: 20px;
line-height: 30px;
}

.main_post.first_post.main_featured_post .main_title {
font-size: 20px;
line-height: 30px;
}

#home_content.content_full_width .main_post.first_post.main_featured_post .main_title {
top: 120px;
}

.column_post.first_post.main_featured_post{
height: 220px;
}
#home_content.content_full_width .column_post.first_post.main_featured_post{
height: 230px;
}

.column_post.first_post.main_featured_post .column_title {
font-size: 20px;
line-height: 30px;
}

.simple_post .short_image_box{
margin: 0px 25px 10px 0px;
}

.simple_post .meta_info_box{
display: block;
width: 100%!important;
margin: 0px 0px 55px 0px!important;
}
#home_content.content_full_width .simple_post .meta_info_box{
margin: 0px 0px 40px 0px!important;
}

.simple_post .custom_read_more{
margin: 10px 0px 0px 0px;
}

#home_blog_posts{
width: 104%!important;
}

.blog_post.One_column_column {
width: 96%!important;
}

.blog_post.Two_column_column {
width: 93%!important;
}

.blog_post.Three_column_column {
width: 92%!important;
}
#home_content.content_full_width .blog_post.Three_column_column {
width: 94%!important;
}


.blog_post.Four_column_column {
width: 88%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 95%!important;
}


.blog_post.Two_column_column.main_featured_post .blog_title{
bottom: 20px;
font-size: 25px;
line-height: 35px;
}
#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title {
font-size: 25px;
line-height: 35px;
}

.Layout_one.gallery_post {
width: 49.1%;
}
#home_content.content_full_width .Layout_one.gallery_post{
width: 49.3%;
}

.Layout_one.gallery_post .gallery_title h2,
.Layout_one.gallery_post .gallery_title h3 {
font-size: 18px;
line-height: 25px;
}

#home_content.content_full_width .gallery_post .gallery_title h2,
#home_content.content_full_width .gallery_post .gallery_title h3{
bottom: 40px;
font-size: 25px;
line-height: 35px;
}

.Layout_two.gallery_post.first_post,
.Layout_two.gallery_post.fourth_post{
width: 65%;
height: 190px;
}

.Layout_two.gallery_post.second_post,
.Layout_two.gallery_post.third_post{
width: 33%;
height: 190px;
}

.Layout_two.gallery_post .gallery_title h2, 
.Layout_two.gallery_post .gallery_title h3 {
font-size: 18px;
line-height: 25px;
}


#home_content.content_full_width .Layout_two.gallery_post.first_post,
#home_content.content_full_width .Layout_two.gallery_post.fourth_post {
height: 270px;
}

#home_content.content_full_width .Layout_two.gallery_post.second_post,
#home_content.content_full_width .Layout_two.gallery_post.third_post {
height: 270px;
}

.Layout_three.gallery_post.first_post{
width: 49%;
height: 385px;
}

.Layout_three.gallery_post.second_post,
.Layout_three.gallery_post.third_post{
width: 49%;
height: 187px;
}

.Layout_three.gallery_post.first_post .gallery_title {
bottom: 60px;
}

.Layout_three.gallery_post .gallery_title h2,
.Layout_three.gallery_post .gallery_title h3 {
font-size: 18px;
line-height: 25px;
}

#home_content.content_full_width .Layout_three.gallery_post.first_post{
width: 49.3%;
height: 385px;
}

#home_content.content_full_width .Layout_three.gallery_post.second_post,
#home_content.content_full_width .Layout_three.gallery_post.third_post{
width: 49.3%;
height: 189px;
}

.Layout_four.gallery_post.first_post{
height: 379px;
width: 49%;
}

.Layout_four.gallery_post.second_post,
.Layout_four.gallery_post.third_post,
.Layout_four.gallery_post.fourth_post{
width: 49%;
height: 124px;
}

.Layout_four.gallery_post .gallery_title h2,
.Layout_four.gallery_post .gallery_title h3 {
font-size: 18px;
line-height: 25px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post{
height: 460px;
width: 49.3%;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post,
#home_content.content_full_width .Layout_four.gallery_post.third_post,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post{
width: 49.3%;
height: 150px;
}

.Layout_one.gallery_post p,
.Layout_two.gallery_post.first_post p,
.Layout_two.gallery_post.fourth_post p,
.gallery_post .gallery_title p,
.gallery_post:first-child .gallery_title p{
display: none;
}




.sb-nav-retro.nav_Kesha  .sb-navigation-left,
.sb-nav-retro.nav_Kesha  .sb-navigation-right{	
top: 45px;
}


#cat_feat_posts{
width: 580px;
}

#content.hide_sidebar #cat_feat_posts{
width: 948px;
}

#banner_index_728{ 
width: 580px;
}

#content {
width: 580px; 
}

#content.hide_sidebar{
width: 940px; 
}


.index_inner {
width: 104%;
}

.post, .product  {
width: 96%; 
}

#content.hide_sidebar .index_inner {
width: 103.4%;
}

#content.hide_sidebar .post, 
#content.hide_sidebar .product  {
width: 95%; 
}


.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 103.4%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 95%!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 100%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h3 a, 
.index_inner.one_line .product h3 a{
display: inline-block;
}

#content.hide_sidebar .index_inner.one_line .post h3 a, 
#content.hide_sidebar .index_inner.one_line .product h3 a{
display: block;
}

.index_inner.one_line .post p{
display: inline-block;
padding: 0px 0px 5px 0px!important;
min-height: 20px;
}

#content.hide_sidebar .index_inner.one_line .post p{
display: block;
padding: 10px 0px 10px 0px!important;
min-height: 70px;
}




#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 940px!important;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 940px!important;
}




#single_content {
width: 580px; 
}

.sp-caption-container {
left: 160px;
}


.single_text img.fs {
width: 110%;
margin: 0px 0px 10px -30px!important;
}

.single_text iframe{
max-height: 450px;
}


.big_similar_post{
width: 18.2%;
}


#similar-post{
width: 100%;
}

#similar-post .sim_title_box{
width: 570px;
}

#similar-post li{
width: 93%;
}

#single_content.hide_sidebar #comments {
margin-left: 19%;
}

#content .single_post{
width: 100%;
}


#archive{
width: 100%;
}

.archive_ul{
width: 105%;
}

#contact textarea,
#contact input {
width: 560px!important;
}

body.woocommerce .inner_woo {
max-width: 968px!important;
}

#container #content[role=main] {
width: 560px;
}

.woocommerce ul.products{
width: 105%; 
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 28.5%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 85%;
}

.price{
left: 67px!important; 
}


.single .product{
width: 100%;
}



}



@media only screen and (min-width: 768px) and (max-width: 978px){

#all_content.boxed_width {
max-width: 768px!important;
}

#all_content.boxed_width .inner{
max-width: 748px!important;
}

.inner{
max-width: 748px!important;
}

.menu_inner{
max-width: 748px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 768px!important;
}

.feat_post_box:first-child .title_author_box{
bottom: 20px;
}

.feat_post_box:first-child h2 a{
max-width: 90%;
font-size: 35px;
line-height: 45px;
}

.feat_post_box h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}

.feat_post_box:first-child .custom_cat_class {
display: block;
}
.feat_post_box .custom_cat_class{
display: none;
}


#home_feat_posts_one{
height: 250px;
}

.feat_post_box_one:first-child .title_author_box{
top: 50px;
}

.feat_post_box_one:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.feat_post_box_one h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}

.feat_post_box_one:first-child .custom_cat_class {
display: block;
}
.feat_post_box_one .custom_cat_class{
display: none;
}




#home_feat_posts_two{
height: 355px;
}

.feat_post_box_two:first-child .title_author_box{
top: 200px;
}

.feat_post_box_two:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.feat_post_box_two h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}


#home_feat_posts_three{
height: 370px;
}

#home_feat_posts_three .feat_post_box_three{
display: none;
}

#home_feat_posts_three .feat_post_box_three:first-child{
height: 360px;
}

.feat_post_box_three:first-child .title_author_box{
top: 200px;
}

.feat_post_box_three:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}


#home_feat_posts_four{
height: 370px;
}

#home_feat_posts_four .feat_post_box_four:first-child{
height: 360px;
}

#home_feat_posts_four .feat_post_box_four{
display: none;
}

.feat_post_box_four:first-child .title_author_box{
top: 200px;
}

.feat_post_box_four:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.popular_posts_title_box{
bottom: 10px;
}

.footer_popular_posts_box:first-child .popular_posts_title_box h4 a{
font-size: 25px;
line-height: 35px;
}

.footer_popular_posts_box h4 a{
font-size: 14px;
line-height: 22px;
}

.footer_popular_posts_box:first-child .custom_cat_class {
display: block;
}
.footer_popular_posts_box .custom_cat_class{
display: none;
}



#wowslider-container1 { 
max-height: 350px;
}

#wowslider-container1 .ws_images ul a{
max-height: 350px;
}

#wowslider-container1 .ws_images > div > img {
max-height: 350px;
}

#wowslider-container1 .ws-title{
padding: 120px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 30px;
line-height: 40px;
}

.sw-navigation {
top: 20px;
}

.sw-skin3 .sw-content .sw-caption h4 {
font-size: 17px;
line-height: 27px;
}


#banner_header_728 img{
margin: 10px 0px 5px 0px;
max-width: 490px;
}




.widget_menu_posts li{
width: 21.2%!important;
}

.widget_menu_posts li:last-child{
display: none;
}

.widget_menu_posts li img{
width: 100%!important;
height: auto!important;
}

.widget_menu_title a{ 
width: 83%;
bottom: 10px;
font-size: 13px!important;
line-height: 20px!important;
text-align: center;
}

.tab_nav {
margin: -15px 0px 0px 0px;
width: 170px;
text-align: center;
}

.menu_tab_painel .tab_inner {
width: 78%;
}

.widget_menu_big_post img{
margin: 0px 20px 15px 0px;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 28.5%!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 13px!important;
line-height: 20px!important;
}

.tab_inner li:last-child{
display: none;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
}


#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}

#sidebar-right {
position: relative!important;
width: 100%!important; 
padding: 10px 0px 20px 20px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 30px 40px 0px;
padding: 0px 20px 25px 20px;
} 

#sidebar-footer{
width: 100%;
}

#sidebar-footer-top .footer-widget{
width: 92%;
}

.footer-widget{
width: 300px;
margin: 10px 0px 20px 30px!important;
}

#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}

#banner_footer_728 {
margin: 10px 0px 25px 0px;
padding: 0px;
text-align: left;
}

#banner_footer {
margin: 10px 0px 25px 0px;
padding: 0px;
text-align: left;
}


#banner_rotator {
margin: 20px 0px 0px 0px!important;
}

.wrapHighlight {
width: 728px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 728px!important;
max-width: 728px!important;
height: auto!important;
margin: 0px!important;
}

#home_content{
width: 100%; 
}


#home_main_posts{
width: 100%!important;
max-width: 100%!important;
}

.main_post {
width: 47.5%;
}

#home_content.content_full_width .main_post {
width: 47.5%;
}

#home_content.content_full_width .main_post.first_post.main_featured_post{
height: 220px;
}


.column_post.first_post.main_featured_post{
height: 300px;
}
#home_content.content_full_width .column_post.first_post.main_featured_post{
height: 210px;
}

.column_post.first_post.main_featured_post .column_title {
bottom: 40px;
font-size: 20px;
line-height: 30px;
}
#home_content.content_full_width .column_post.first_post.main_featured_post .column_title {
font-size: 20px;
line-height: 30px;
}

#home_content.content_full_width .simple_post .meta_info_box{
margin: 0px 0px 40px 0px!important;
}

#home_content.content_full_width .simple_post .short_image_box{
margin: 0px 30px 20px 0px;
width: 300px;
}

#home_content.content_full_width .simple_post.main_featured_post .short_image_box{
width: 100%;
}


#home_blog_posts{
width: 103%!important;
}

.blog_post.One_column_column {
width: 100%!important;
}

.blog_post.Two_column_column {
width: 94%!important;
}

.blog_post.Three_column_column {
width: 92%!important;
}

.blog_post.Four_column_column {
width: 88%!important;
}

#home_content.content_full_width .blog_post.Two_column_column {
width: 47%!important;
}

#home_content.content_full_width .blog_post.Three_column_column {
width: 96%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 94%!important;
}

#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title {
font-size: 30px;
line-height: 38px;
}

#home_content.content_full_width .gallery_post .gallery_title {
bottom: 20px;
font-size: 25px;
line-height: 35px;
}

.Layout_two.gallery_post.first_post,
.Layout_two.gallery_post.fourth_post{
height: 250px;
}

.Layout_two.gallery_post.second_post,
.Layout_two.gallery_post.third_post{
height: 250px;
}

.Layout_two.gallery_post .gallery_title,
#home_content.content_full_width .Layout_two.gallery_post .gallery_title {
bottom: 20px;
}

#home_content.content_full_width .Layout_two.gallery_post.first_post,
#home_content.content_full_width .Layout_two.gallery_post.fourth_post {
height: 210px;
}

#home_content.content_full_width .Layout_two.gallery_post.second_post,
#home_content.content_full_width .Layout_two.gallery_post.third_post {
height: 210px;
}

.Layout_three.gallery_post.first_post{
height: 493px;
}

.Layout_three.gallery_post.second_post,
.Layout_three.gallery_post.third_post{
height: 243px;
}

#home_content.content_full_width .Layout_three.gallery_post.first_post{
width: 49.3%;
height: 385px;
}

#home_content.content_full_width .Layout_three.gallery_post.second_post,
#home_content.content_full_width .Layout_three.gallery_post.third_post{
width: 49.3%;
height: 189px;
}

.Layout_four.gallery_post.first_post{
height: 495px;
}

.Layout_four.gallery_post.second_post,
.Layout_four.gallery_post.third_post,
.Layout_four.gallery_post.fourth_post{
height: 161px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post{
height: 400px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post,
#home_content.content_full_width .Layout_four.gallery_post.third_post,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post{
height: 130px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post.third_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post .gallery_title{
font-size: 18px;
line-height: 25px;
}


#cat_feat_posts{
width: 750px;
}
#content.hide_sidebar #cat_feat_posts{
width: 750px;
}

#banner_index_728{ 
width: 750px;
}
#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 750px;
}

#content.hide_sidebar .cat_feat_post h2{
bottom: 40px;
width: 80%;
font-size: 35px;
line-height: 45px;
}

#content {
width: 100%;
}

#content.hide_sidebar{
width: 100%;
}

.index_inner {
width: 103%;
}

.post, .product  {
width: 94.5%;
}

#content.hide_sidebar .index_inner {
width: 103%;
}

#content.hide_sidebar .post, 
#content.hide_sidebar .product  {
width: 94.5%; 
}

.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 100%!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 100%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line .post p{
min-height: 70px;
}


.review-summary p{
width: 135%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 3px!important;
}

.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 170px;
}


#single_content {
width: 100%; 
}


.single_post{
width: 100%; 
}

.single_post .single_thumbnail img{
width: 100%; 
}

.single_text img.fs {
width: 100%!important; 
min-width: 100%;
margin: 0px 0px 10px 0px!important;
}

.single_text iframe{
max-height: 350px;
}


.sp-caption-container {
left: 130px;
}

.big_similar_post{
width: 17.7%;
}

#similar-post{
width: 100%;
}

#similar-post .sim_title_box{
width: 100%;
}

#similar-post li{
width: 93%;
}

#single_content.hide_sidebar #comments {
width: 98%;
margin-left: 1%;
}

#author_box{
width: 100%!important; 
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%!important; 
}

#content .single_post{
width: 100%; 
}

#lightSlider img{
width: 100%;
}


#archive{
width: 100%;
}

.archive_ul{
width: 102%;
}

#contact textarea,
#contact input {
width: 730px!important;
}


#archive li{
width: 91.5%;
}

body.woocommerce .inner_woo {
max-width: 748px!important;
}

#container #content[role=main] {
max-width: 728px!important;
}

.single .product{
max-width: 728px!important;
}

.woocommerce ul.products{
width: 104%; 
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 29.5%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 76%;
}

.price{
left: 85px!important; 
}



}





@media screen and (min-width: 480px) and (max-width:767px) {

#all_content.boxed_width {
max-width: 480px!important;
}

.inner{
max-width: 480px!important;
}

.menu_inner{
max-width: 480px!important;
}

#all_content.boxed_width .inner{
max-width: 480px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 500px!important;
}

.nav_logo{
padding: 0px 10px 0 10px!important;
}

.sw-navigation {
top: 20px;
}

.sw-skin3 .sw-content .sw-caption h4 {
font-size: 17px;
line-height: 27px;
}



#mega_main_menu .menu li{
margin: 10px 5px 10px 0px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 93%;
}

#secondaryMenu{
margin: 2px 0px 0px 15px!important;
width: 50%;
}

#header_top_menu .logout{
position: relative;
margin: 1px 10px 10px 0px;
}

#header_top_menu .user_profile{
position: relative;
margin: 1px 5px 10px 0px;
}

#title_box{
margin: 10px 0px 20px 10px!important;
}

.logo_featured{
display: none;
}

#home_feat_posts {
margin: 0px 0px 20px 0px!important;
}

#home_feat_posts .feat_post_box{
width: 50%;
}

.feat_post_box:first-child .title_author_box{
bottom: 20px;
}

.feat_post_box:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.feat_post_box h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}

.feat_post_box:first-child .custom_cat_class {
display: block;
}

.feat_post_box .custom_cat_class{
display: none;
}

.feat_post_box:first-child p{
display: none;
}


#home_feat_posts_one{
height: 680px;
}

#home_feat_posts_one .feat_post_box_one:first-child{
width: 100%;
}

#home_feat_posts_one .feat_post_box_one{
width: 50%;
}


.feat_post_box_one:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.feat_post_box_one h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}

.feat_post_box_one:first-child .custom_cat_class {
display: block;
}
.feat_post_box_one .custom_cat_class{
display: none;
}



#home_feat_posts_two{
height: 545px;
}

#home_feat_posts_two .feat_post_box_two{
width: 50%;
}

#home_feat_posts_two .feat_post_box_two:first-child{
width: 100%;
}


.feat_post_box_two:first-child .title_author_box{
top: 200px;
}

.feat_post_box_two:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}

.feat_post_box_two h2 a{
max-width: 90%;
font-size: 14px;
line-height: 24px;
}


#home_feat_posts_three{
height: 280px;
}

#home_feat_posts_three .feat_post_box_three{
display: none;
}

#home_feat_posts_three .feat_post_box_three:first-child{
height: 270px;
}

.feat_post_box_three:first-child .title_author_box{
top: 120px;
}

.feat_post_box_three:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}


#home_feat_posts_four{
height: 280px;
}

#home_feat_posts_four .feat_post_box_four:first-child{
height: 270px;
}

#home_feat_posts_four .feat_post_box_four{
display: none;
}

.feat_post_box_four:first-child .title_author_box{
top: 60px;
}

.feat_post_box_four:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}



#footer_popular_posts .footer_popular_posts_box{
width: 50%;
}

#footer_popular_posts .footer_popular_posts_box:first-child{
width: 100%;
}

.popular_posts_title{
width: 50%;
padding-bottom: 25px;
margin-left: 20px;
}

.popular_posts_title_box{
bottom: 10px;
}

.footer_popular_posts_box:first-child .popular_posts_title_box h4 a{
font-size: 25px;
line-height: 35px;
}

.footer_popular_posts_box h4 a{
font-size: 14px;
line-height: 22px;
}

.footer_popular_posts_box:first-child .custom_cat_class {
display: block;
}
.footer_popular_posts_box .custom_cat_class{
display: none;
}






#wowslider-container1 { 
max-height: 200px;
}

#wowslider-container1 .ws_images ul a{
max-height: 200px;
}

#wowslider-container1 .ws_images > div > img {
max-height: 200px;
}

#wowslider-container1 .ws-title{
padding: 60px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 20px;
line-height: 25px;
}


.widget_menu_posts li{
float: left;
width: 45.3%!important;
margin: 5px 10px 20px 10px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 42%!important;
margin: 5px 20px 100px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 5px 10px 20px 10px!important;
}

.widget_menu_title a{ 
width: 83%;
bottom: 10px;
font-size: 13px!important;
line-height: 20px!important;
text-align: center;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 11px!important;
line-height: 18px!important;
}

.tab_nav {
width: 150px;
margin: -15px 0px 0px 0px!important;
padding: 10px 10px 10px 10px;
}

.menu_tab_painel .tab_inner {
width: 69%;
}

.menu_tab_painel .tab_inner img {
height: auto!important;
}

#banner_header_728{
float: left;
margin: 0px 0px 0px 10px!important;
}

#banner_header_728 img{
max-width: 460px;
height: auto;
margin-top: 13px;
}

.wrapHighlight {
width: 460px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 460px!important;
max-width: 728px!important;
height: auto!important;
margin: 0px!important;
}

#banner_footer_728 img{
padding: 0px;
height: auto;
}

#banner_footer img{
padding: 0px;
height: auto;
}

#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#sidebar-right {
position: relative!important;
width: 100%!important; 
padding: 20px 0px 20px 20px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 0px 40px 0px;
padding: 0px 20px 25px 20px;
} 

#sidebar-footer{
width: 100%;
} 

.footer-widget{
width: 300px;
margin: 10px 0px 20px 20px!important;
}

#sidebar-footer-top .footer-widget{
width: 92%;
}


#home_content{
width: 460px!important;
margin: 0px 0px 40px 10px;
padding: 0px!important;
}


#home_main_posts{
width: 100%!important;
max-width: 100%!important;
}

.main_post {
width: 100%;
}

.main_post.first_post{
width: 100%;
margin: 0px 0px 25px 0px;
}

#home_content.content_full_width .main_post.first_post.main_featured_post{
height: 270px;
}

#home_content.content_full_width .column_post.first_post.main_featured_post{
height: 270px;
}


#home_content.content_full_width .main_post,
#home_content.content_full_width .main_post.first_post{
width: 100%;
}

.main_post.first_post.main_featured_post .meta_info_box,
.column_post.first_post.main_featured_post .meta_info_box{
display: none;
}

.simple_post.main_featured_post .simple_title {
bottom: 20px;
font-size: 25px;
line-height: 35px;
}

.simple_post .simple_title {
display: inline-block;
width: 100%!important;
margin: 5px 0px 15px 0px!important;
font-size: 25px;
line-height: 35px;
}

.simple_post .short_image_box{
margin: 0px 25px 10px 0px;
}

.simple_post .meta_info_box{
display: inline-block;
width: 100%!important;
margin: 0px 0px 0px 0px!important;
}

.simple_post .custom_read_more{
margin: 10px 0px 0px 0px;
}

#home_content.content_full_width .simple_post .short_image_box{
margin: 0px 30px 10px 0px;
width: 100%;
}

#home_content.content_full_width .simple_post.main_featured_post .short_image_box{
width: 100%;
}

#home_content.content_full_width .simple_post.main_featured_post .simple_title {
bottom: 20px;
font-size: 25px;
line-height: 35px;
}

#home_blog_posts{
width: 105%!important;
}

.blog_post.Two_column_column {
width: 45.5%!important;
}

#home_content.content_full_width .blog_post.Two_column_column {
width: 98%!important;
}

.blog_post.Three_column_column {
width: 91%!important;
}

.blog_post.Four_column_column {
width: 90%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 45.5%!important;
}

.blog_post .blog_title h2,
.blog_post .blog_title h3 {
font-size: 22px;
line-height: 30px;
}


#home_content.content_full_width .blog_post .blog_title h2,
#home_content.content_full_width .blog_post .blog_title h3 {
font-size: 25px;
line-height: 35px;
}
.blog_post.main_featured_post .blog_title h2,
.blog_post.main_featured_post .blog_title h3 {
font-size: 25px;
line-height: 35px;
}
#home_content.content_full_width .blog_post.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.main_featured_post .blog_title h3 {
font-size: 30px;
line-height: 38px;
}

.blog_post.Two_column_column.main_featured_post .blog_title h2,
.blog_post.Two_column_column.main_featured_post .blog_title h3{
font-size: 22px;
line-height: 30px;
}
#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title h3 {
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .blog_post.Four_column_column.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.Four_column_column.main_featured_post .blog_title h3 {
font-size: 22px;
line-height: 30px;
}

.Layout_one.gallery_post {
width: 48.9%;
}
#home_content.content_full_width .Layout_one.gallery_post{
width: 48.9%;
}

.gallery_post .gallery_title h2,
.gallery_post .gallery_title h3 {
font-size: 18px;
line-height: 25px;
}

#home_content.content_full_width .gallery_post .gallery_title {
bottom: 20px;
font-size: 17px;
line-height: 25px;
}

.Layout_two.gallery_post.first_post,
.Layout_two.gallery_post.fourth_post{
width: 64.3%;
height: 150px;
}

.Layout_two.gallery_post.second_post,
.Layout_two.gallery_post.third_post{
width: 33.5%;
height: 150px;
}

.Layout_two.gallery_post .gallery_title,
#home_content.content_full_width .Layout_two.gallery_post .gallery_title {
bottom: 20px;
font-size: 15px;
line-height: 22px;
}

#home_content.content_full_width .Layout_two.gallery_post.first_post,
#home_content.content_full_width .Layout_two.gallery_post.fourth_post {
width: 100%;
height: 150px;
}

#home_content.content_full_width .Layout_two.gallery_post.second_post,
#home_content.content_full_width .Layout_two.gallery_post.third_post {
width: 100%;
height: 150px;
}

.Layout_three.gallery_post.first_post{
width: 100%;
height: 300px;
}

.Layout_three.gallery_post.second_post,
.Layout_three.gallery_post.third_post{
width: 100%;
height: 140px;
}

.Layout_three.gallery_post.first_post{
width: 100%;
height: 300px;
}

.Layout_three.gallery_post.first_post .gallery_title {
bottom: 40px;
}

#home_content.content_full_width .Layout_three.gallery_post.first_post{
width: 100%;
height: 350px;
}

#home_content.content_full_width .Layout_three.gallery_post.second_post,
#home_content.content_full_width .Layout_three.gallery_post.third_post{
width: 100%;
height: 200px;
}

.Layout_four.gallery_post.first_post{
width: 100%;
height: 300px;
}

.Layout_four.gallery_post.second_post,
.Layout_four.gallery_post.third_post,
.Layout_four.gallery_post.fourth_post{
width: 100%;
height: 161px;
}

.Layout_four.gallery_post.first_post .gallery_title{
bottom: 40px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post{
width: 100%;
height: 300px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post,
#home_content.content_full_width .Layout_four.gallery_post.third_post,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post{
width: 100%;
height: 161px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post .gallery_title{
bottom: 40px;
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post.third_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post .gallery_title{
font-size: 18px;
line-height: 25px;
}

.Layout_one.gallery_post p,
.Layout_two.gallery_post.first_post p,
.Layout_two.gallery_post.fourth_post p,
.gallery_post .gallery_title p,
.gallery_post:first-child .gallery_title p{
display: none;
}








.ms-skin-default .ms-thumb-list.ms-dir-h {
bottom: -180px;
width: 100%;
height: 180px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
width: 83px;
height: 150px;
}
.ms-videogallery-template .ms-thumb img{
width: 83px;
height: 60px;
}

.ms-videogallery-template .ms-thumb-ol {
width: 83px;
height: 180px;
}

.ms-videogallery-template .ms-layer.video-title h2,
.ms-videogallery-template .ms-layer.video-title h3 {
font-size: 13px!important;
line-height: 20px!important;
}

.ms-videogallery-template .ms-thumb-frame h3 {
font-size: 10px;
line-height: 18px;
}



.sb-retro-skin .showbiz-title h2,
.sb-retro-skin .showbiz-title h3,
.sb-retro-skin .showbiz-title h2 a,
.sb-retro-skin .showbiz-title h3 a,
.sb-retro-skin .showbiz-title h2 a:visited,
.sb-retro-skin .showbiz-title h3 a:visited{	
font-size: 25px;
line-height: 35px;
}


.sb-retro-skin.Two_column .showbiz-title h2,
.sb-retro-skin.Two_column .showbiz-title h3,
.sb-retro-skin.Two_column .showbiz-title h2 a,
.sb-retro-skin.Two_column .showbiz-title h3 a,
.sb-retro-skin.Two_column .showbiz-title h2 a:visited,
.sb-retro-skin.Two_column .showbiz-title h3 a:visited{
font-size: 18px;
line-height: 25px;
}

.sb-retro-skin.Three_column .showbiz-title h2,
.sb-retro-skin.Three_column .showbiz-title h3,
.sb-retro-skin.Three_column .showbiz-title h2 a,
.sb-retro-skin.Three_column .showbiz-title h3 a,
.sb-retro-skin.Three_column .showbiz-title h2 a:visited,
.sb-retro-skin.Three_column .showbiz-title h3 a:visited{
font-size: 18px;
line-height: 25px;
}

.sb-nav-retro.nav_Kesha  .sb-navigation-left,
.sb-nav-retro.nav_Kesha  .sb-navigation-right{	
top: 35px;
padding: 5px!important;
}



#crumbs{
width: 460px;
}

#content {
width: 460px;
margin-left: 10px;
}

#content.hide_sidebar{
width: 460px;
margin-left: 10px;
}

#content.full_width{
width: 460px!important; 
margin: 25px 0px 0px 10px!important;
}


#content.hide_sidebar .post, #content.hide_sidebar  .product  {
width: 460px;
}

.index_inner {
width: 460px;
}

.post, .product  {
width: 460px;
}


#content.hide_sidebar .index_inner {
width: 460px;
}

#content.hide_sidebar .post, #content.hide_sidebar .product{
width: 460px!important;
}



.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

.index_inner.one_column .post, .index_inner.one_column .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 100%!important;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}


#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h3 a{
display: inline-block;
}

.index_inner.one_line .post p{
display: inline-block;
padding: 10px 0px 5px 0px!important;
}

#content.hide_sidebar .index_inner.one_line .post p{
min-height: 20px;
}


#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}

.full_width_posts_widget li{
margin-right: 20px;
}


#cat_feat_posts{
width: 100%;
}

#content.hide_sidebar #cat_feat_posts{
width: 100%;
}

#banner_index_728{ 
width: 100%;
}
#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 100%;
}


#content.hide_sidebar .cat_feat_post h2{
bottom: 20px;
width: 80%;
font-size: 22px;
line-height: 30px;
}


.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}



.review-summary p{
width: 125%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.single_post textarea#comment, 
.single_post input#url, 
.single_post .comment-form-email input, 
.single_post input#author{
width: 96%!important;
margin-top: 10px;
}

#content.full_width .single_post textarea#comment, 
#content.full_width .single_post input#url, 
#content.full_width .single_post .comment-form-email input, 
#content.full_width .single_post input#author{
width: 96%!important;
margin-top: 10px;
}


#author_content {
margin: -180px 0px 0px 10px;
}

.author_description p{
display: none;
}


.arqam-widget-counter ul li i{
margin: 5px 0px 0px 0px!important;
}


#container #content {
width: 100%!important; 
}

.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 220px;
}

#single_content {
width: 460px; 
margin: 25px 0px 0px 10px;
}


#single_content.hide_sidebar{
width: 460px!important; 
margin: 25px 0px 0px 10px!important;
}

.single_photo, .single_photo .photo_bg_shadow {
min-height: 350px;
}

.single_photo .photo_bg_inner {
bottom: 10px;
}

.photo_bg_inner{
bottom: 10px;
}

.single_video_full_width{
padding: 25px 0px 25px 0px;
}


.photo_bg_inner h1{
padding: 0px 20px;
font-size: 30px;
line-height: 130%;
}

.single_text img.fs {
width: 100%!important; 
min-width: 100%;
margin: 0px 0px 10px 0px!important;
}

.single_text iframe{
max-height: 250px;
}


.single_post .single_thumbnail img{
width: 100%;
}

.sp-caption-container {
left: 80px;
}

.big_meta_line {
display: none;
}

.big_sim_title_box{
display: none;
}

.big_similar_post{
width: 45%;
height: 200px;
margin: 10px 0px 10px 17px;
}

.big_similar_post:first-child{
margin: 10px 0px 10px 17px;
}

.big_similar_post:last-child{
display: none;
}

#similar-post{
width: 100%; 
}

#similar-post .sim_title_box{
width: 100%; 
}

#similar-post li{
width: 93%;
}


#navigation_images .alignleft {
border-bottom: 1px solid #eee;
border-right: none;
width: 100%;
}

#navigation_images .alignright {
width: 100%;
}

#single_content.hide_sidebar #comments {
width: 98%;
margin-left: 1%;
}

#single_content.hide_sidebar #review-box {
width: 95%;
margin-right: 0px!important;
}



#author_box{
width: 100%; 
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%; 
}

#author_box p{
width: 90%;
}

#content .single_post{
width: 100%; 
}

.children .comment {
width: 91%;
}

#archive{
width: 100%;
}

.archive_ul{
width: 102%;
}

#archive li{
width: 94%;
}

#contact textarea,
#contact input {
width: 440px!important;
}


body.woocommerce .inner_woo {
max-width: 460px!important;
padding: 0px 10px;
}

#container #content[role=main] {
max-width: 440px!important;
}

.woocommerce ul.products{
width: 106%; 
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 44%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 85%;
}


.price{
left: 75px!important; 
}

.single .product{
width: 100%;
}


}






@media only screen and (max-width: 479px) {


#all_content.boxed_width {
max-width: 320px!important;
}

.inner{
max-width: 320px!important;
}

.menu_inner{
max-width: 320px!important;
}


#all_content.boxed_width .inner{
max-width: 320px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 320px!important;
}

.nav_logo{
padding: 0px 10px 0 10px!important;
}

.sw-navigation {
top: 20px;
}


#mega_main_menu .menu li{
margin: 10px 5px 10px 0px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 90%;
}

#secondaryMenu{
width: 90%;
}

#header_top_menu .logout{
position: relative;
margin: 0px 10px 10px 0px;
}

#header_top_menu .user_profile{
position: relative;
margin: 0px 5px 10px 0px;
}

#secondaryMenu ul li a{
font-size: 11px;
margin: 0px 4px;
}

#banner_header_728{
float: left;
margin: 12px 10px 10px 10px;
}

#banner_header_728 img{
max-width: 300px;
height: auto;
}


#title_box{
margin: 10px 0px 20px 10px!important;
}





.logo_featured{
display: none;
}

#home_feat_posts {
margin: 0px 0px 20px 0px!important;
}

#home_feat_posts .feat_post_box{
width: 50%;
}

.feat_post_box:first-child .title_author_box{
bottom: 20px;
}

.feat_post_box .title_author_box{
bottom: 0px;
}

.feat_post_box:first-child h2 a{
max-width: 90%;
font-size: 15px;
line-height: 25px;
}

.feat_post_box h2 a{
max-width: 90%;
font-size: 12px;
line-height: 20px;
}

.feat_post_box:first-child .custom_cat_class {
font-size: 11px;
display: block;
}

.feat_post_box .custom_cat_class{
display: none;
}

.feat_post_box:first-child p{
display: none;
}


#home_feat_posts_one{
height: 450px;
}

#home_feat_posts_one .feat_post_box_one:first-child{
width: 100%;
}

#home_feat_posts_one .feat_post_box_one{
width: 50%;
}


.feat_post_box_one:first-child h2 a{
max-width: 90%;
font-size: 15px;
line-height: 25px;
}

.feat_post_box_one h2 a{
max-width: 90%;
font-size: 12px;
line-height: 20px;
}

.feat_post_box_one:first-child .custom_cat_class {
font-size: 11px;
display: block;
}
.feat_post_box_one .custom_cat_class{
display: none;
}




#home_feat_posts_two{
height: 370px;
}

#home_feat_posts_two .feat_post_box_two{
width: 50%;
}

#home_feat_posts_two .feat_post_box_two:first-child{
width: 100%;
}


.feat_post_box_two:first-child .title_author_box{
top: 90px;
}

.feat_post_box_two:first-child h2 a{
max-width: 90%;
font-size: 15px;
line-height: 25px;
}

.feat_post_box_two h2 a{
max-width: 90%;
font-size: 12px;
line-height: 20px;
}
.feat_post_box_two:first-child .custom_cat_class {
font-size: 11px;
display: block;
}
.feat_post_box_two .custom_cat_class{
display: none;
}



#home_feat_posts_three{
height: 230px;
}

#home_feat_posts_three .feat_post_box_three{
display: none;
}

#home_feat_posts_three .feat_post_box_three:first-child{
height: 220px;
}

.feat_post_box_three:first-child .title_author_box{
top: 40px;
}

.feat_post_box_three:first-child h2 a{
max-width: 90%;
font-size: 25px;
line-height: 35px;
}


#home_feat_posts_four{
height: 230px;
}

#home_feat_posts_four .feat_post_box_four:first-child{
height: 220px;
}

#home_feat_posts_four .feat_post_box_four{
display: none;
}

.feat_post_box_four:first-child .title_author_box{
width: 90%;
top: 40px;
}

.feat_post_box_four:first-child h2 a{
font-size: 20px;
line-height: 28px;
}
.feat_post_box_four:first-child .custom_cat_class {
font-size: 11px;
display: block;
}


#footer_popular_posts .footer_popular_posts_box{
width: 50%;
}

#footer_popular_posts .footer_popular_posts_box:first-child{
width: 100%;
}

.popular_posts_title{
width: 80%;
padding-bottom: 25px;
margin-left: 20px;
}

.popular_posts_title_box{
bottom: 0px;
}

.footer_popular_posts_box:first-child .popular_posts_title_box h4 a{
font-size: 18px;
line-height: 26px;
}

.footer_popular_posts_box h4 a{
font-size: 14px;
line-height: 22px;
}

.footer_popular_posts_box:first-child .custom_cat_class {
display: block;
}
.footer_popular_posts_box .custom_cat_class{
display: none;
}










#wowslider-container1 { 
height: 170px!important;
}

#wowslider-container1 .ws_images{
height: 170px!important;
}

#wowslider-container1 .ws_images ul a{
height: 170px!important;
}

#wowslider-container1 .ws_images > div > img {
height: 170px!important;
}

#wowslider-container1 .ws-title{
padding: 80px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 15px;
line-height: 20px;
}

#wowslider-container1 .custom_cat_class{
display: none;
}

#wowslider-container1 .ws-title div{
margin: 10px 0px 0px 0px;
font-size: 10px;
}

#wowslider-container1  .ws_bullets { 
display: none;
}



.widget_menu_posts li{
float: left;
width: 100%!important;
margin: 5px 0px 20px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 5px 0px 20px 0px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 88%!important;
margin: 5px 0px 100px 0px!important;
}

.widget_menu_posts li img {
height: auto!important;
}

.widget_menu_title a{ 
text-align: center;
bottom: 10px;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
width: 96px;
font-size: 11px!important;
line-height: 18px!important;
}

.tab_nav {
width: 145px;
margin: -15px 0px 0px 0px!important;
font-size: 11px;
line-height: 20px;
padding: 10px 20px 10px 10px;
}

.menu_tab_painel .tab_inner {
width: 55%;
}

a.widget_menu_title{
padding: 110px 10px 15px 15px!important;
font-size: 15px!important;
line-height: 24px!important;
}

.menu_tab_painel .tab_inner img {
height: auto!important;
}

.widget_menu_big_post img{
width: 270px!important;
height: auto!important;
}

.widget_menu_big_title{
max-width: 270px;
}


.wrapHighlight {
width: 300px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 300px!important;
max-width: 290px!important;
height: auto!important;
margin: 0px!important;
}

#banner-header{
float: left;
margin: 12px 10px 10px 0px;
}

#banner-header img{
max-width: 290px;
height: auto;
}

#banner_footer_728 img{
padding: 0px;
height: auto;
}

#banner_footer img{
padding: 0px;
height: auto;
}


.bx-wrapper img {
margin: 10px 15px 10px 15px;
}

.bx-wrapper .bxslider_quote {
display: inline-block;
margin: 12px 20px 20px 20px;
}

.bx-wrapper .custom_read_more{ 
margin: 0px 20px 40px 0px;
}

.home_posts_title h2{
font-size: 28px;
}



#content {
width: 100%;
}

#content.hide_sidebar{
width: 300px;
margin-left: 10px;
}

#content.full_width{
width: 300px;
margin-left: 10px;
}


.post, .product  {
width: 300px;
margin-left: 0px!important;
}

.index_inner {
width: 300px;
}

#content.hide_sidebar .index_inner {
width: 300px;
}
#content.hide_sidebar .post, #content.hide_sidebar .product{
width: 300px!important;
}

.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, #content.hide_sidebar  .index_inner.one_column .product{
width: 300px!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 100%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h2 a,
.index_inner.one_line .product h2 a{
display: inline-block;
}

#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 300px!important;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 300px!important;
}

.index_inner.one_line .post p,
.index_inner.one_line .product p{
display: inline-block;
padding: 10px 0px 10px 0px!important;
}

#content.hide_sidebar .index_inner.one_line .post p{
min-height: 20px;
}

#home_content{
width: 300px!important;
margin: 0px 0px 40px 10px;
padding: 0px!important;
}

#home_main_posts{
width: 100%!important;
max-width: 100%!important;
}

.home_posts_title h2{
line-height: 41px;
font-size: 20px;
}

.main_post {
width: 100%;
}

.main_post.first_post{
width: 100%;
margin: 0px 0px 25px 0px;
}

.main_post.first_post.main_featured_post{
height: 250px;
}


#home_content.content_full_width .main_post,
#home_content.content_full_width .main_post.first_post{
width: 100%;
}

#home_content.content_full_width .main_post.first_post.main_featured_post{
height: 160px;
}

.main_post.first_post .main_title {
bottom: 20px;
font-size: 18px;
line-height: 28px;
}
#home_content.content_full_width .main_post.first_post.main_featured_post .main_title {
bottom: 20px;
font-size: 18px;
line-height: 28px;
}

.column_post.first_post.main_featured_post{
height: 250px;
}
#home_content.content_full_width .column_post.first_post.main_featured_post{
height: 160px;
}

#home_content.content_full_width .column_post.first_post.main_featured_post .column_title {
bottom: 20px;
font-size: 18px;
line-height: 28px;
}




.simple_post.main_featured_post .simple_title {
bottom: 0px;
font-size: 20px;
line-height: 28px;
}

.simple_post .simple_title {
display: inline-block;
width: 100%!important;
margin: 5px 0px 15px 0px!important;
font-size: 20px;
line-height: 28px;
}

.simple_post .short_image_box{
margin: 0px 25px 10px 0px;
}

.simple_post .meta_info_box{
display: inline-block;
width: 100%!important;
margin: 0px 0px 0px 0px!important;
}

.simple_post .custom_read_more{
margin: 10px 0px 0px 0px;
}

#home_content.content_full_width .simple_post .short_image_box{
margin: 0px 0px 10px 0px;
width: 100%;
}

#home_content.content_full_width .simple_post.main_featured_post .simple_title {
bottom: 0px;
font-size: 20px;
line-height: 28px;
}

#home_content.content_full_width .simple_post .simple_title {
font-size: 20px;
line-height: 28px;
}



.blog_post.One_column_column {
width: 100%!important;
}

.blog_post.Two_column_column {
width: 100%!important;
}
#home_content.content_full_width .blog_post.Two_column_column {
width: 98%!important;
}
.blog_post.Three_column_column {
width: 100%!important;
}
#home_content.content_full_width .blog_post.Three_column_column {
width: 98%!important;
}

.blog_post.Four_column_column {
width: 98%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 98%!important;
}


.blog_post .blog_title {
font-size: 25px;
line-height: 35px;
}
#home_content.content_full_width .blog_post .blog_title {
font-size: 25px;
line-height: 35px;
}
.blog_post.main_featured_post .blog_title {
bottom: 20px;
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .blog_post.main_featured_post .blog_title {
bottom: 20px;
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title {
font-size: 25px;
line-height: 35px;
}

.blog_post.Four_column_column .blog_title{
font-size: 22px;
line-height: 30px;
}
#home_content.content_full_width .blog_post.Four_column_column .blog_title {
font-size: 25px;
line-height: 35px;
}
.blog_post.Four_column_column.main_featured_post .blog_title{
font-size: 22px;
line-height: 30px;
}
#home_content.content_full_width .blog_post.Four_column_column.main_featured_post .blog_title {
font-size: 25px;
line-height: 35px;
}

.Layout_one.gallery_post {
width: 99%;
}
#home_content.content_full_width .Layout_one.gallery_post{
width: 99%;
}

.gallery_post .gallery_title h2, 
.gallery_post .gallery_title h3{
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .gallery_post .gallery_title h2, 
#home_content.content_full_width .gallery_post .gallery_title h3{
font-size: 17px;
line-height: 25px;
}

.Layout_two.gallery_post.first_post,
.Layout_two.gallery_post.fourth_post{
width: 100%;
height: 150px;
}

.Layout_two.gallery_post.second_post,
.Layout_two.gallery_post.third_post{
width: 100%;
height: 150px;
}

.Layout_two.gallery_post .gallery_title h2,
.Layout_two.gallery_post .gallery_title h3{
font-size: 15px;
line-height: 22px;
}

#home_content.content_full_width .Layout_two.gallery_post.first_post,
#home_content.content_full_width .Layout_two.gallery_post.fourth_post {
width: 100%;
height: 130px;
}

#home_content.content_full_width .Layout_two.gallery_post.second_post,
#home_content.content_full_width .Layout_two.gallery_post.third_post {
width: 100%;
height: 130px;
}


.Layout_three.gallery_post.first_post{
width: 100%;
height: 300px;
}

.Layout_three.gallery_post.second_post,
.Layout_three.gallery_post.third_post{
width: 100%;
height: 200px;
}

.Layout_three.gallery_post.first_post{
width: 100%;
height: 300px;
}

#home_content.content_full_width .Layout_three.gallery_post.first_post{
width: 100%;
height: 300px;
}

#home_content.content_full_width .Layout_three.gallery_post.second_post,
#home_content.content_full_width .Layout_three.gallery_post.third_post{
width: 100%;
height: 160px;
}

.Layout_four.gallery_post.first_post{
width: 100%;
height: 300px;
}

.Layout_four.gallery_post.second_post,
.Layout_four.gallery_post.third_post,
.Layout_four.gallery_post.fourth_post{
width: 100%;
height: 135px;
}

.Layout_four.gallery_post.first_post .gallery_title h2{
font-size: 25px;
line-height: 35px;
}

.Layout_four.gallery_post .gallery_title h3{
font-size: 18px;
line-height: 26px;
}


#home_content.content_full_width .Layout_four.gallery_post.first_post{
width: 100%;
height: 300px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post,
#home_content.content_full_width .Layout_four.gallery_post.third_post,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post{
width: 100%;
height: 110px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post .gallery_title h2{
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .Layout_four.gallery_post.second_post .gallery_title h3,
#home_content.content_full_width .Layout_four.gallery_post.third_post .gallery_title h3,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post .gallery_title h3{
font-size: 18px;
line-height: 25px;
}

.Layout_one.gallery_post p,
.Layout_two.gallery_post.first_post p,
.Layout_two.gallery_post.fourth_post p,
.gallery_post .gallery_title p,
.gallery_post:first-child .gallery_title p{
display: none;
}




.sb-retro-skin .showbiz-title h2,
.sb-retro-skin .showbiz-title h3,
.sb-retro-skin .showbiz-title h2 a,
.sb-retro-skin .showbiz-title h3 a,
.sb-retro-skin .showbiz-title h2 a:visited,
.sb-retro-skin .showbiz-title h3 a:visited{	
font-size: 18px;
line-height: 25px;
}

.sb-retro-skin.Two_column .showbiz-title h2,
.sb-retro-skin.Two_column .showbiz-title h3,
.sb-retro-skin.Two_column .showbiz-title h2 a,
.sb-retro-skin.Two_column .showbiz-title h3 a,
.sb-retro-skin.Two_column .showbiz-title h2 a:visited,
.sb-retro-skin.Two_column .showbiz-title h3 a:visited{
font-size: 18px;
line-height: 25px;
}

.sb-retro-skin.Three_column .showbiz-title h2,
.sb-retro-skin.Three_column .showbiz-title h3,
.sb-retro-skin.Three_column .showbiz-title h2 a,
.sb-retro-skin.Three_column .showbiz-title h3 a,
.sb-retro-skin.Three_column .showbiz-title h2 a:visited,
.sb-retro-skin.Three_column .showbiz-title h3 a:visited{
font-size: 18px;
line-height: 25px;
}


.sb-retro-skin .sb-nav-retro  .sb-navigation-left,
.sb-retro-skin .sb-nav-retro  .sb-navigation-right{	
top: 22%!important;
padding: 5px!important;
}

.sb-nav-retro.nav_Kesha  .sb-navigation-left,
.sb-nav-retro.nav_Kesha  .sb-navigation-right{	
top: 55px;
padding: 5px!important;
}

.ms-skin-default .ms-thumb-list.ms-dir-h {
bottom: -180px;
width: 100%;
height: 180px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
width: 83px;
height: 150px;
}
.ms-videogallery-template .ms-thumb img{
width: 83px;
height: 60px;
}

.ms-videogallery-template .ms-thumb-ol {
width: 83px;
height: 180px;
}

.ms-videogallery-template .ms-layer.video-title {
font-size: 10px!important;
line-height: 18px!important;
}

.ms-videogallery-template .ms-thumb-frame h3 {
font-size: 10px;
line-height: 18px;
}




#cat_feat_posts{
width: 100%;
}

#content.hide_sidebar #cat_feat_posts{
width: 100%;
}

#banner_index_728{ 
width: 100%;
}
#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 100%;
}

.cat_feat_post h2{
bottom: 20px;
font-size: 22px;
line-height: 30px;
}

#content.hide_sidebar .cat_feat_post h2{
bottom: 20px;
width: 80%;
font-size: 22px;
line-height: 30px;
}




#crumbs{
width: 300px;
}

#content {
width: 300px;
margin-left: 10px;
}

#content.full_width .single_post{
width: 100%;
}

.single_video_full_width{
padding: 25px 0px 25px 0px;
}

.single_photo .photo_bg_inner {
bottom: 10px;
}

.photo_bg_inner{
bottom: 10px;
}

.photo_bg_inner h1{
padding: 0px 20px;
font-size: 22px;
line-height: 130%;
width: 90%;
}

.single_photo, .single_photo .photo_bg_shadow {
min-height: 300px;
}

#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#sidebar-right {
background: #fff;
position: relative!important;
width: 100%!important; 
padding: 0px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 30px 40px 10px;
padding: 0px 20px 25px 20px;
} 


#sidebar-footer{
width: 100%;
} 

.footer-widget{
width: 100%;
max-width: 280px;
margin: 10px 0px 20px 20px!important;
}

#sidebar-footer-top .footer-widget{
width: 95%;
}


#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}



.review-summary p{
width: 100%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.single_title h1{
font-size: 22px!important;
line-height: 130%;
}

#content.full_width .single_post h1{
display: inline-block;
margin: 25px 0px 5px 0px;
}

.commentlist p{
width: 50%;
}

.children .comment {
float: right;
padding: 10px 5px 0 6px;
clear:both;
width: 99%;
margin: 10px 0px 10px 0;
}

.children .comment p{
width: 51%;
}

.social_box{
margin: 25px 10px 40px 15px;
display: block;
width: 90%;
height: 24px;
text-align: center;
}

#credit {
text-align: center;
font-size: 10px;
}

.right{
float: left;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 170px!important;
}

.single_post textarea#comment, 
.single_post input#url, 
.single_post .comment-form-email input, 
.single_post input#author{
width: 93%!important;
margin-top: 10px;
}

#content.full_width .single_post textarea#comment, 
#content.full_width .single_post input#url, 
#content.full_width .single_post .comment-form-email input, 
#content.full_width .single_post input#author{
width: 93%!important;
margin-top: 10px;
}

#author_content {
margin: -190px 0px 0px 10px;
}

.author_description p{
display: none;
}

.author_email{
display: inline-block;
float: left;
margin: 70px 0px 0px -145px;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 7px!important;
}

#container #content {
width: 100%!important; 
}

#banner_single_728{
width: 100%; 
}



#single_content {
width: 300px; 
margin: 25px 0px 0px 10px;
}


#single_content.hide_sidebar  {
width: 300px!important;
margin: 25px 0px 0px 10px!important;
}

#post-pagination-text,
.post_pagination_prev,
.post_pagination_next{
display: none!important; 
}

.single_post .single_thumbnail img{
width: 100%; 
}

.pre_single_text{
font-size: 20px;
line-height: 30px;
}

.single_text iframe{
max-height: 150px;
}

.sp-caption-container {
position: relative;
bottom: 0px;
left: 0px;
width: 100%;
max-width: 97%;
}

.big_meta_line {
display: none;
}

.big_sim_title_box{
display: none;
}

.big_similar_post{
width: 42%;
height: 170px;
margin: 10px 0px 10px 17px;
}

.big_similar_post:first-child{
margin: 10px 0px 10px 17px;
}

.big_similar_post:last-child{
display: none;
}


#similar-post{
width: 100%; 
}

#similar-post .sim_title_box{
width: 100%; 
}

#similar-post li{
width: 100%;
}

#navigation_images .alignleft {
border-bottom: 1px solid #eee;
border-right: none;
width: 100%;
}

#navigation_images .alignright {
width: 100%;
}


#author_box{
width: 100%; 
}

#author_box p{
width: 90%;
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%; 
}

#content #author_box h4{
padding: 15px 0px 0px 20px;
}

#single_content.hide_sidebar #comments {
width: 98%;
margin-left: 1%;
}

.author_icons{
margin: 20px 0px 10px 20px;
}

#author_box span{
float: left;
padding: 0px 20px 0px 0px;
}

#single_content.hide_sidebar #review-box {
width: 92%;
margin-right: 0px!important;
}

#content .single_post{
width: 100%;
}

#archive{
width: 100%;
}

#archive li{
width: 97%;
}

#contact input {
width: 280px!important;
}

#contact textarea {
width: 280px!important;
}

body.woocommerce .inner_woo {
max-width: 300px!important;
}

body.woocommerce #sidebar-right {
margin-left: 0px!important;
float: left!important;
}

body.woocommerce #sidebar-right .right-widget{
margin: 0px 0px 40px -10px;
} 

.woocommerce ul.products{
width: 102%; 
}

#container #content[role=main] {
max-width: 300px!important;
margin-left: 0px!important;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 97%;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{ 
float: left;
}


.price{
left: 110px!important; 
}

.single .product{
width: 280px; 
}

blockquote {padding: 0px 0px 0px 20px;}

}


