

	

/*----------Shortcode Heading - Title style----------*/

.home_posts_title{
background-color: #f1f1f1;
display: inline-block;
width: 100%;
height: 60px;
margin: 0px 0px 20px 0px;
padding: 0px;
overflow: hidden;
}

.home_posts_title.Style_two{
background: url("../images/title_style_two_bg.png") repeat-x 0px 1px;
height: 60px;
}

.home_posts_title.Style_three{
background: url("../images/title_style_three_bg.png") repeat-x 0px 0px;
height: 60px;
}

.home_posts_title.Style_three .cat_view_more{
display: none;
}


.home_posts_title.Style_four{
background: url("../images/main_post_bg.png") repeat-x left bottom #fff!important;
display: inline-block;
min-height: 60px;
height: auto;
overflow: visible;
}

.home_posts_title.Style_four .cat_view_more{
display: none;
}

.home_posts_title.Style_four h4{
background: #fff!important;
display: inline-block;
width: 100%;
float: left;
color: #000;
font-size: 42px;
line-height: 40px;
padding: 0px 0px 10px 0px;
font-weight: normal;
}

.home_posts_title.Style_four .car_title_descr{
display: inline-block;
width: 100%;
float: left;
margin: 0px 0px 10px 0px;
color: #999;
font-size: 18px;
line-height: 28px;
text-transform: uppercase;
}


.home_posts_title.Style_five{
background: url("../images/title_style_five_bg.png") repeat-x left 19px #fff!important;
display: inline-block;
min-height: 60px;
height: auto;
padding-bottom: 0px;
text-align: center;
overflow: visible;
}

.home_posts_title.Style_five .cat_view_more{
display: none;
}

.home_posts_title.Style_five h4{
background: #fff!important;
display: inline-block;
width: auto;
float: none;
color: #000;
font-size: 42px;
line-height: 40px;
padding: 0px 15px 0px 15px;
font-weight: normal;
text-align: center;
}

.home_posts_title.Style_five .car_title_descr{
display: inline-block;
width: 100%;
margin: 10px 0px 0px 0px;
color: #999;
font-size: 18px;
line-height: 28px;
text-transform: uppercase;
}



.home_posts_title h4{
background-color: #f1f1f1;
display: inline-block;
float: left;
color: #000;
font-size: 20px;
line-height: 40px;
padding: 10px 15px 8px 17px;
font-weight: bold;
text-transform: uppercase;
}

.home_posts_title h4 a{
color: #000;
transition: 0.2s;
}

.cat_view_more{
background-color: #f1f1f1;
background: url("../images/view_more_arrow.png") no-repeat 70px center;
position: absolute;
right: 14px!important;
top: 0px;
line-height: 60px;
padding: 0px 50px 0px 10px;
font-size: 11px;
text-transform: uppercase;
}

.cat_view_more a{
color: #777;
transition: 0.2s;
}

.cat_view_more a:hover{
opacity: 0.8;
}

.car_title_descr{
display: none;
margin: 24px 0px 0px 0px;
float: left;
color: #777;
font-size: 12px;
line-height: 22px;
}

.shortcode_box{
padding: 0px 0px 0px 0px;
display: inline-block;
width: 100%;
}	
	
.vc_row{
margin-bottom: 0px!important;
}	
	
.vc_custom_heading {
margin-bottom: 0px!important;
padding-bottom: 0px!important;
}	

.vc_custom_heading p {
padding: 0px!important;
margin: 0px!important;
}		
	
.vc_btn3-container{
margin-top: 20px!important;
}
	
/*----------Carousel styles----------*/
	
.showbiz-container{
max-width:1140px; 
min-width:300px; 
overflow:hidden;
margin: 0px 0px 0px 0px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.inner .showbiz-container{
margin: 20px 0px 0px 0px;
}

.showbiz-container.whitebg{
padding-top:0px;
background:#fff;
max-width:1140px;
overflow:visible
}

.showbiz-container.fullwidth{max-width:100%;}
.showbiz-container.fullwidth.nopaddings{padding:0px;}
.sameheight{height:400px;}




/**************************************
	-	BASIC STYLING FOR CONTENTS	-
***************************************/


		.showbiz					{	position:relative;}


		.showbiz .divide5			{	width:100%;height:5px;}
		.showbiz .divide10			{	width:100%;height:10px;}
		.showbiz .divide15			{	width:100%;height:15px;}
		.showbiz .divide20			{	width:100%;height:20px;}
		.showbiz .divide30			{	width:100%;height:30px;}

		.showbiz .p20				{	padding-top:20px;}
		.showbiz .p30				{	padding-top:30px;}
		.showbiz .p40				{	padding-top:30px;}
		.showbiz .p60				{	padding-top:60px;}

		.showbiz .rm5				{	margin-right:5px;}
		.showbiz .rm10				{	margin-right:10px;}
		.showbiz .rm15				{	margin-right:15px;}
		.showbiz .rm20				{	margin-right:20px;}


		.showbiz .leftfloat			{	float:left;}
		.showbiz .rightfloat		{	float:right;}
		.sbclear					{	clear:both;}

		.showbiz .txt-center		{	text-align: center;}
		.showbiz .txt-left			{	text-align: left;}
		.showbiz .txt-right			{	text-align: right;}
		.showbiz .vert-center		{	vertical-align:middle;height:100%;}


		.showbiz-title .greenbg		{	background-color:#366300; padding:2px 10px;}
		.showbiz-title .redbg		{	background-color:#b2170a; padding:2px 10px;}
		.showbiz-title .bluebg		{	background-color:#1d628a; padding:2px 10px;}
		.showbiz-title .blackbg		{	background-color:#000; padding:2px 10px;}

		.showbiz p					{	font-size:13px; line-height:22px; color:#777; position:relative;}
		.showbiz p.orange			{	color:#ff6c00;}
		.showbiz p.bigger			{	font-size:17px; line-height:20px;}
		.showbiz p.bolder			{	font-weight:700;}

		.showbiz-title,
		.showbiz-title a,
		.showbiz-title a:visited,
		.showbiz-title a:hover			{	color:#fff; text-transform:uppercase;  text-decoration: none; font-weight: normal;}

		.showbiz-title.large,
		.showbiz-title.large a,
		.showbiz-title.large a:visited,
		.showbiz-title.large a:hover	{	font-size:20px; line-height:25px; font-weight:800;}

		.showbiz-price .number				{	color:#555; font-size:50px; font-weight: 800;}
		.showbiz-price .currency				{	color:#555; font-size:35px; font-weight: 400;}

		.sb_one_half 		{ width: 49%;   position:relative;}
		.sb_one_third 		{ width: 32%;  position:relative;}
		.sb_two_third 		{ width: 66%; position:relative;}
		.sb_three_fourth	{ width: 74%;    position:relative;}
		.sb_four_fifth		{ width: 78%;    position:relative;}
		.sb_one_fourth 		{ width: 23.5%;   position:relative;}
		.sb_one_fifth 		{ width: 18.2%; position:relative;}
		.sb_two_fifth 		{ width: 39%; position:relative;}
		.sb_three_fifth 	{ width: 58.3%; position:relative;}
		.sb_one_sixth 		{ width: 13.33%; position:relative;}

		.sb_one_half,
		.sb_one_third,
		.sb_two_third,
		.sb_one_fourth,
		.sb_one_fifth,
		.sb_three_fourth,
		.sb_one_sixth,
		.sb_four_fifth,
		.sb_two_fifth,
		.sb_three_fifth	{ margin-right: 2%; margin-bottom: 0px; float: left; }

		.sb_lastcolumn { margin-right: 0!important; clear: right; }

		@media only screen and (max-width: 767px) {
			.sb_one_half,
			.sb_one_third,
			.sb_two_third,
			.sb_one_fourth,
			.sb_one_fifth,
			.sb_one_sixth,
			.sb_two_fifth,
			.sb_three_fifth		{ width: 100%; margin-bottom:30px;}
			.sb_lastcolumn			{	margin-bottom:0px;}
			.sb_mobilecentered		{	text-align:center;}
		}

		.sb-clear				{	clear:both}




/*********************************************************
			-	NAVIGATION SETTINGS	-
	USE STYLE CLASS IN THE SHOWBIZ NAVIGATION CONTAINER
**********************************************************/


.showbiz-navigation.center{	
text-align:center;
}


.sb-navigation-left,
.sb-navigation-right,
.sb-navigation-play{
cursor:pointer;  
border-radius: 1px; 
display:inline-block; 
padding: 5px 8px!important;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out; 
transition: all 0.3s ease-in-out;
}

.sb-navigation-play	{margin-right:5px;}
.sb-navigation-left	{margin-right:5px;}

.sb-navigation-left i,
.sb-navigation-right i,
.sb-navigation-play i{	 
font-size:25px;  
color:#fff; 
}

.sb-navigation-left.notclickable{	
cursor:default; 
-moz-opacity:0.3; 
filter:alpha(opacity=30); 
opacity:0.3;
}

.sb-navigation-right.notclickable{	
cursor:default; 
-moz-opacity:0.3; 
filter:alpha(opacity=30); 
opacity:0.3;
}

.sb-hidden{	
display:none;
}



		
/*** Navigation ***/

.showbiz-navigation.sb-nav-retro{
top: 0px;
right: 0px;
width: 100%;
z-index: 10;
}

.sb-nav-retro .sb-navigation-left.notclickable:hover,
.sb-nav-retro .sb-navigation-right.notclickable:hover,
.sb-nav-retro .sb-navigation-left,
.sb-nav-retro .sb-navigation-right,
.sb-nav-retro .sb-navigation-play{	
background:#fff; 
color:#777; 
opacity: 1;
transition:0.4s;
}

.sb-nav-retro  .sb-navigation-left{
background: url("../images/left_arrow.png") no-repeat center center!important;
top: 32%;
left: -25px;
}

.sb-nav-retro  .sb-navigation-right{	
background: url("../images/right_arrow.png") no-repeat center center!important;
top: 32%;
right: -25px;
}  

.showbiz-container:hover .sb-nav-retro .sb-navigation-left,
.showbiz-container:hover .sb-nav-retro .sb-navigation-right{
opacity: 0.5;
}

.showbiz-container:hover .sb-nav-retro  .sb-navigation-left{
left: 5px;
}
.showbiz-container:hover .sb-nav-retro  .sb-navigation-right{
right: 5px;
}

.sb-nav-retro  .sb-navigation-left,
.sb-nav-retro  .sb-navigation-right{	
background-color:#eee;
position: absolute;
z-index: 999;
width: 30px;
height: 45px;
margin: 0px 0px 0px 0px!important;
padding: 20px 5px 20px 5px!important;
opacity: 0;
transition:0.2s;
}

.sb-nav-retro.nav_Kesha  .sb-navigation-left,
.sb-nav-retro.nav_Kesha  .sb-navigation-right{	
top: 75px;
padding: 10px 5px 10px 5px!important;
}

.sb-nav-retro  .sb-navigation-left:hover,
.sb-nav-retro  .sb-navigation-right:hover{	
opacity: 0.8!important;
}

.showbiz-container.sb-retro-skin.One_column .sb-nav-retro  .sb-navigation-left,
.showbiz-container.sb-retro-skin.One_column .sb-nav-retro  .sb-navigation-right{	
top: 32%;
}  

#home_content.content_full_width .showbiz-container.sb-retro-skin.One_column .sb-nav-retro  .sb-navigation-left,
#home_content.content_full_width .showbiz-container.sb-retro-skin.One_column .sb-nav-retro  .sb-navigation-right{	
top: 37%;
}  

.showbiz-container.sb-retro-skin.Three_column .sb-nav-retro  .sb-navigation-left,
.showbiz-container.sb-retro-skin.Three_column .sb-nav-retro  .sb-navigation-right{	
top: 27%;
}  

#home_content.content_full_width .showbiz-container.sb-retro-skin.Three_column .sb-nav-retro  .sb-navigation-left,
#home_content.content_full_width .showbiz-container.sb-retro-skin.Three_column .sb-nav-retro  .sb-navigation-right{	
top: 32%;
} 

.sb-nav-retro  i  {
font-size: 15px!important; 
color:#777!important; 
}





/**************************************************
	-	THE BASIC CONTAINER SETTINGS	-
	NO NEED TO MODIFICATE ANYTHIN HERE

	ALL DETAIL SETTINGS CAN BE SET VIA THE SKINS
**************************************************/



.showbiz ul, .showbiz li{	
list-style: none; 
margin:0; 
padding:0; 
}

		.showbiz ul li									{	position:relative; -webkit-transform: translateZ(10);
																-webkit-backface-visibility: hidden;
																-webkit-perspective: 1000;
																margin-right:15px;
														}
		.showbiz .overflowholder {	overflow: hidden;position: relative;width: 100%; z-index:2}

		.showbiz .overflowholder ul {		width:100000px; position: absolute;	top: 0px; left: 0px; }

		.showbiz .overflowholder ul li {		float: left !important;
																-webkit-transition: all 0.25s ease;
																-moz-transition: all 0.25s ease-in-out;
																-o-transition: all 0.25s ease-in-out;
																-ms-transition: all 0.25s ease-in-out;
																transition: all 0.25s ease-in-out;
																position:relative;
														}


		.showbiz .mediaholder							{ 	position:relative; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; background:transparent;padding:0px; border:none;}
		.showbiz .mediaholder_innerwrap					{	position:relative; overflow:hidden; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
		.showbiz .mediaholder img 						{	width:100%; margin-bottom:-3px!important;}


		.showbiz .hovercover							{		width:100%;height:100%; position:absolute; top:0px; left:0px; background-color:#52bde9;background-color:rgba(82,189,233,0.85);
																-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;
																-moz-opacity:0; filter:alpha(opacity=0); opacity:0;
																-webkit-transform: translateZ(10);
																-webkit-backface-visibility: hidden;
																-webkit-perspective: 1000;
														}

		.showbiz li:hover .hovercover			  		{		-moz-opacity:0.85; filter:alpha(opacity=85); opacity:0.85;  }



	
	
	
		
/*************************************************
	       Homepage featured carousel
**************************************************/

.showbiz.sb-modern-skin	ul{	
background:#fff;
}

.showbiz ul li.sb-modern-skin	{	
margin-right: 0px;
}

.sb-modern-skin .darkhover{	
position:absolute; 
top:0px; 
left:0px; 
width: 100%;
height: 100%;
background:rgba(0,0,0,0);
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
}

.sb-modern-skin .detailholder{ 
position: absolute;
bottom: 0px;
left: 0px;
background:#000;
background: rgba(0,0,0,0.65);
padding: 20px;
box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
overflow: hidden;
width:100%;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
}


.sb-modern-skin .showbiz-title{	
font-size: 18px; 
line-height: 26px; 
font-weight: normal;
}

.sb-modern-skin .showbiz-title:hover{	
text-decoration: underline !important;
}


.sb-modern-skin .excerpt	{	
font-size:13px; 
line-height:22px; 
color: #bbb;   
font-weight:400;
overflow: hidden; 
position: relative;
display:none; 
text-indent: 0px;
}

.sb-post-details, .sb-post-details span,
.sb-post-details a, .sb-post-details a:visited{	
font-size:11px; 
line-height:22px; 
color: #bbb; 
font-weight:400; 
text-transform: uppercase;
}

.sb-readmore, .sb-readmore span,
.sb-readmore a, .sb-readmore a:visited{	
font-size:11px; 
line-height:22px; 
color:#fff; 
font-weight:500; 
text-decoration: none;
text-transform: uppercase !important;
}

.sb-post-details a:hover, .sb-readmore a:hover{	
text-decoration: underline !important;
}

.sb-modern-skin .sb-readmore	{   
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
-moz-opacity: 0.0;
-khtml-opacity: 0.0;
opacity: 0.0;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
}


.showbiz ul li.sb-modern-skin:hover .detailholder{	
background:#000; 
background:rgba(0,0,0,1);
}

.showbiz ul li.sb-modern-skin:hover .darkhover	{
background:rgba(0,0,0,0.65);
}


.showbiz ul li.sb-modern-skin:hover .sb-readmore{   
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}

																	
		

		
		
	
/*----------Home carousel posts - Kesha style----------*/


.showbiz-container.sb_retro_skin_Kesha{
position: relative;
display: block;
margin: 0px;
padding: 0px 0px 30px 0px;
width:100%;	
max-width:100%;	
min-width: 240px;	
height: auto;
}

.sb_retro_skin_li_Kesha{
width: 240px;	
display: block;
margin: 0px;
}

.sb_retro_skin_Kesha .detailholder{
background: none!important;
display: block!important;
width: 100%;
position: absolute;
bottom: 0px;
height: 100%;
}
	
.sb_retro_skin_Kesha .showbiz-title a:hover{
color: #f14d4d;
}

.sb_retro_skin_Kesha .detailholder:hover .short_image_shadow{
opacity:0.3;
transform: rotate(0deg);
}

.sb_retro_skin_Kesha .short_image_box img {	 
display: block!important;
width: 100%;
height: auto!important;
padding: 0px!important;
margin: 0px!important;
transition:0.5s;
}

.sb_retro_skin_Kesha .short_image_box:hover img{
opacity: 0.8; 
}

.sb_retro_skin_Kesha .showbiz-title,
.sb_retro_skin_Kesha .showbiz-title a,
.sb_retro_skin_Kesha .showbiz-title a:visited{	
color: #000;
max-width: 100%!important;
display: inline-block;
padding: 7px 0px 5px 0px;
font-size: 23px;
line-height: 33px;
text-transform: uppercase;
transition:0.2s;
}	

.sb_retro_skin_Kesha .showbiz-title a:hover{
color: #000;
text-decoration: underline;
}

#home_content.content_full_width .sb_retro_skin_Kesha .showbiz-title,
#home_content.content_full_width .sb_retro_skin_Kesha .showbiz-title a,
#home_content.content_full_width .sb_retro_skin_Kesha .showbiz-title a:visited{	
font-size: 25px;
line-height: 35px;
}


.sb_retro_skin_Kesha p{
display: inline-block;
width: 100%;
padding: 0px 0px 0px 0px!important;
color: #555;
font-size: 13px;
line-height: 23px;
}

#home_content.content_full_width .sb_retro_skin_Kesha p{
font-size: 14px;
line-height: 24px;
}

.sb_retro_skin_Kesha .meta_info_box{
display: block;
margin: 0px 0px 10px 0px;
}

.sb_retro_skin_Kesha .home_posts_time{
margin: 0px 0px 0px 0px;
}

.sb_retro_skin_Kesha .custom_read_more {
margin: 15px 0px 0px 0px;
display: inline-block;
}

.sb_retro_skin_Kesha .custom_read_more a,
.sb_retro_skin_Kesha .custom_read_more a:hover{
color:#fff!important;
}


.sb_retro_skin_Kesha .custom_cat_class{ 
display: block;
margin: 0px 5px 0px 0px;
font-size: 10px!important;
line-height: 22px!important;
color:#999;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}

.sb_retro_skin_Kesha .post-single-rate,
.sb_retro_skin_Kesha .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.sb_retro_skin_Kesha .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.sb_retro_skin_Kesha .post-single-rate.hide,
.sb_retro_skin_Kesha .post-single-rate-stars.hide,
.sb_retro_skin_Kesha .post-single-rate-points.hide{
display: none!important;
}


	
	
/*-------------Home carousel posts---------------*/


.showbiz-container.sb-retro-skin{	
position: relative;
display: block;
margin: 0px;
padding: 0px 0px 30px 0px;
width:100%;	
max-width:100%;	
min-width: 240px;	
height: auto;
}

.sb-retro-skin {
margin: 0px!important;
}

.sb-retro-skin.showbiz-container .showbiz .overflowholder ul li {
padding: 0px!important;
}

.sb-retro-skin  .mediaholder {
height: auto!important;
padding: 0px!important;
margin: 0px!important;
border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
}

.mediaholder_image_box{
display: block;
overflow: hidden;
}

.sb-retro-skin .short_image_shadow{
background: url("../images/big_shadow.png") repeat-x bottom;
background-color: #000;
opacity:0.4;
transform: rotate(0deg);
transition: 0.1s;
padding: 0px 0px 0px 0px!important;
}

.sb-retro-skin .detailholder:hover .short_image_shadow{
opacity:0.4;
transform: rotate(0deg);
}


.mediaholder img {	 
height: auto!important;
padding: 0px!important;
margin: 0px!important;
transition:0.4s;
}

.sb-retro-skin .detailholder{
display: block;
position: relative!important;
margin: 0px 0px 5px 0px!important;
}

.sb-retro-skin .showbiz-title{	
display: inline-block;
position: absolute;
bottom: 0px!important;
left: 0px!important;
margin: 0px!important;
padding: 0px 0px 20px 20px!important;
width: 85%;
}

.sb-retro-skin .showbiz-title h2,
.sb-retro-skin .showbiz-title h3,
.sb-retro-skin .showbiz-title h2 a,
.sb-retro-skin .showbiz-title h3 a,
.sb-retro-skin .showbiz-title h2 a:visited,
.sb-retro-skin .showbiz-title h3 a:visited{	
text-decoration: none;
font-size: 35px;
line-height: 45px;
font-weight: bold;
color: #fff;
text-decoration: none !important;
text-transform: uppercase;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}
.sb-retro-skin.Two_column .showbiz-title h2,
.sb-retro-skin.Two_column .showbiz-title h3,
.sb-retro-skin.Two_column .showbiz-title h2 a,
.sb-retro-skin.Two_column .showbiz-title h3 a,
.sb-retro-skin.Two_column .showbiz-title h2 a:visited,
.sb-retro-skin.Two_column .showbiz-title h3 a:visited{
font-size: 25px;
line-height: 35px;
}

.sb-retro-skin.Three_column .showbiz-title h2,
.sb-retro-skin.Three_column .showbiz-title h3,
.sb-retro-skin.Three_column .showbiz-title h2 a,
.sb-retro-skin.Three_column .showbiz-title h3 a,
.sb-retro-skin.Three_column .showbiz-title h2 a:visited,
.sb-retro-skin.Three_column .showbiz-title h3 a:visited{
font-size: 20px;
line-height: 30px;
}

#home_content.content_full_width .sb-retro-skin .showbiz-title h2,
#home_content.content_full_width .sb-retro-skin .showbiz-title h3,
#home_content.content_full_width .sb-retro-skin .showbiz-title h2 a,
#home_content.content_full_width .sb-retro-skin .showbiz-title h3 a,
#home_content.content_full_width .sb-retro-skin .showbiz-title h2 a:visited
#home_content.content_full_width .sb-retro-skin .showbiz-title h3 a:visited{
font-size: 35px;
line-height: 45px;
}

#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h2,
#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h3,
#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h2 a,
#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h3 a,
#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h2 a:visited,
#home_content.content_full_width .sb-retro-skin.One_column .showbiz-title h3 a:visited{
font-size: 45px;
line-height: 55px;
}

#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h2,
#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h3,
#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h2 a,
#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h3 a,
#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h2 a:visited,
#home_content.content_full_width .sb-retro-skin.Three_column .showbiz-title h3 a:visited{
font-size: 25px;
line-height: 35px;
}

.sb-retro-skin .showbiz-title a{
padding: 0px;
}

.sb-retro-skin .showbiz-title a:hover, .sb-retro-skin a:hover{
text-decoration: underline!important;
}

.sb-retro-skin .gallery_meta{
display: inline-block;
}

.sb-retro-skin .custom_cat_class{ 
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}


.sb-retro-skin .post-single-rate,
.sb-retro-skin .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.sb-retro-skin .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.sb-retro-skin .post-single-rate.hide,
.sb-retro-skin .post-single-rate-stars.hide,
.sb-retro-skin .post-single-rate-points.hide{
display: none!important;
}




/**************************************************
               Home Main posts
***************************************************/


#home_main_posts{
background: #fff!important;
display: inline-block;
position: relative;
margin: 0px 0px 10px 0px!important;
padding: 0px 0px 20px 0px;
width: 100%!important;
height: 100%;
}

.main_post {
background: url("../images/main_post_bg.png") repeat-x left bottom #fff!important;
float: left;
display: inline-block;
position: relative;
padding: 0px 0px 15px 0px;
margin: 0px 0px 15px 0px;
width: 48.3%;
min-height: 85px;
}

#home_content.content_full_width .main_post {
width: 48.8%;
}

.main_post.first_post{
background: none!important;
border: none;
width: 48.3%;
height: auto;
margin: 0px 25px 0px 0px;
padding: 0px 0px 0px 0px;
}

#home_content.content_full_width .main_post.first_post{
width: 48.6%;
}

.main_post:last-child {
border: none;
background: none!important;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

.short_image_box{
position: relative;
display: inline-block; 
overflow: hidden;
}

.short_image_shadow{
background-color: #f14d4d;
position: absolute;
top: 0px;
left: 0px;
display: inline-block; 
width: 100%;
height: 100%;
opacity:0;
transform: rotate(50deg);
transition: 0.2s;
}

.short_image_box:hover .short_image_shadow{
opacity:0.3;
transform: rotate(0deg);
}

.main_post.first_post .short_image_box{
float: left;
margin: 0px 0px 0px 0px;
}

.main_post .short_image_box{
float: left;
margin: 0px 20px 0px 0px;
}


.main_post.first_post img {	
float: left;
display: block; 
width: 100%;
height: auto;
padding: 0px;
margin: 0px;
}

.main_post img{	
float: left;
display: block; 
transition: 0.2s;
}

.main_post img:hover {	
opacity: 1; 
}

.main_title{
width: 100%!important;
margin: 0px 0px 0px 0px;
display: block;
width: 100%;
}

.main_title h2,
.main_title h3{
font-size: 13px;
line-height: 22px;
font-weight: normal!important;
text-decoration: none!important;
text-transform: uppercase;
}

#home_content.content_full_width .main_title h2,
#home_content.content_full_width .main_title h3{
font-size: 14px;
line-height: 24px;
}


.main_title a{
color: #000;
transition:0.2s;
}

.main_title a:hover{
color: #000;
text-decoration: underline;
}

.main_post.first_post .main_title {
width: 100%!important;
display: inline-block;
padding: 15px 0px 0px 0px;
}

.main_post.first_post .main_title h2,
.main_post.first_post .main_title h3{
font-size: 25px;
line-height: 35px;
}


#home_content.content_full_width .main_post.first_post .main_title h2, 
#home_content.content_full_width .main_post.first_post .main_title h3{
font-size: 25px;
line-height: 35px;
}

.main_post p{
display: none;
}

.main_post.first_post p{
display: inline-block;
width: 100%;
padding: 10px 0px 0px 0px!important;
color: #555;
font-size: 13px;
line-height: 23px;
}
#home_content.content_full_width .main_post.first_post p{
font-size: 14px;
line-height: 24px;
}


.main_post .meta_info_box{
display: block;
margin: 7px 0px 0px 0px;
}

.main_post.first_post .meta_info_box{
display: block;
margin: 12px 0px 0px 0px;
}

.main_post.first_post .home_posts_time{
display: inline-block;
margin: 0px 0px 0px 0px;
}

.main_post.first_post .custom_read_more{
margin: 15px 0px 0px 0px;
display: inline-block;
}

.main_post .custom_read_more a,
.main_post .custom_read_more a:hover{
color:#fff!important;
}

.main_post .custom_read_more{
display: none;
}



.main_post .custom_cat_class{ 
display: block;
margin: 0px 5px 0px 0px;
font-size: 10px!important;
line-height: 22px!important;
color:#999;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}

.main_post.first_post .post-single-rate,
.main_post.first_post .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.main_post .post-single-rate{
display: none!important;
}

.main_post .post-single-rate-points{
position: absolute; 
right: 0px;
top: 0px;
z-index: 1;
}

.main_post.first_post .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}
.main_post .post-single-rate-stars{
position: absolute; 
right: 0px;
top: 0px;
z-index: 1;
}

.main_post .post-single-rate.hide,
.main_post .post-single-rate-stars.hide,
.main_post .post-single-rate-points.hide{
display: none!important;
}




.main_post.first_post.main_featured_post{
background: #fff!important;
border: none;
height: 317px;
overflow: hidden;
}

.main_post.first_post.main_featured_post p,
.main_post.first_post.main_featured_post .custom_read_more,

.main_post.first_post.main_featured_post .post_format_video,
.main_post.first_post.main_featured_post .post_format_image,
.main_post.first_post.main_featured_post .post_format_audio{
display: none; 
}

.main_post.first_post.main_featured_post .short_image_shadow{
background: url("../images/big_shadow.png") repeat-x bottom;
background-color: #000!important;
opacity:0.4;
transform: rotate(0deg);
transition: 0.1s;
}

.main_post.first_post.main_featured_post .short_image_box:hover .short_image_shadow{
opacity:0.4;
transform: rotate(0deg);
}

.main_post.first_post.main_featured_post .main_title {
position: absolute;
bottom: 20px;
left: 20px;
width: 80%!important;
display: inline-block;
padding: 0px;
}

.main_post.first_post.main_featured_post .main_title h2,
.main_post.first_post.main_featured_post .main_title h3 {
font-size: 25px;
line-height: 35px;
font-weight: bold;
}

#home_content.content_full_width .main_post.first_post.main_featured_post .main_title h2,
#home_content.content_full_width .main_post.first_post.main_featured_post .main_title h3{
font-size: 25px;
line-height: 35px;
}

.main_post.first_post.main_featured_post .main_title a{
font-weight: bold;
color: #fff;
transition:0.2s;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.main_post.first_post.main_featured_post .main_title a:hover{
color: #fff;
}

.main_post.first_post.main_featured_post:hover .main_title a{
color: #fff;
}



.main_post.first_post.main_featured_post .meta_info_box{
display: block;
}

.main_post .gallery_meta{
display: block;
}

.main_post.first_post.main_featured_post .gallery_meta{
display: inline-block;
}





/**************************************************
               Home Column posts
***************************************************/


.home_column_posts{
background: #fff!important;
display: inline-block;
position: relative;
margin: 0px 0px 20px 0px!important;
padding: 0px 0px 0px 0px;
width: 100%!important;
height: 100%;
}

.column_post {
background: url("../images/main_post_bg.png") repeat-x left bottom #fff!important;
float: left;
display: inline-block;
position: relative;
padding: 0px 0px 15px 0px;
margin: 0px 0px 15px 0px;
width: 100%;
min-height: 85px;
}

#home_content.content_full_width .column_post {
width: 100%;
}

#home_content.content_full_width .column_post.first_post{
width: 100%;
}

.column_post.first_post{
background: none!important;
border: none;
width: 100%;
height: auto;
margin: 0px 0px 25px 0px;
padding: 0px 0px 0px 0px;
}

.column_post:last-child {
border: none;
background: none!important;
padding: 0px 0px 0px 0px;
}


.column_post.first_post .short_image_box{
float: left;
margin: 0px 0px 0px 0px;
}

.column_post .short_image_box{
float: left;
margin: 0px 20px 0px 0px;
}


.column_post.first_post img {	
float: left;
display: block; 
width: 100%;
height: auto;
padding: 0px;
margin: 0px;
}

.column_post img{	
float: left;
display: block; 
transition: 0.2s;
}

.column_post img:hover {	
opacity: 1; 
}

.column_title{
width: 100%!important;
margin: 0px 0px 0px 0px;
display: block;
}

.column_title h2,
.column_title h3{
font-size: 13px;
line-height: 22px;
font-weight: normal!important;
text-decoration: none!important;
text-transform: uppercase;
}

#home_content.content_full_width .column_title h2,
#home_content.content_full_width .column_title h3{
font-size: 14px;
line-height: 24px;
}

.column_title a{
color: #000;
transition:0.2s;
}

.column_title a:hover{
color: #000;
text-decoration: underline;
}

.column_post.first_post .column_title {
width: 100%!important;
display: inline-block;
padding: 15px 0px 0px 0px;
}

.column_post.first_post .column_title h2,
.column_post.first_post .column_title h3{
font-size: 25px;
line-height: 35px;
}

#home_content.content_full_width .column_post.first_post .column_title h2,
#home_content.content_full_width .column_post.first_post .column_title h3 {
font-size: 25px;
line-height: 35px;
}

.column_post p{
display: none;
}

.column_post.first_post p{
display: inline-block;
width: 100%;
padding: 10px 0px 0px 0px!important;
color: #555;
font-size: 13px;
line-height: 23px;
}
#home_content.content_full_width .column_post.first_post p{
font-size: 14px;
line-height: 24px;
}

.column_post .meta_info_box{
display: block;
margin: 7px 0px 0px 0px;
}

.column_post.first_post .meta_info_box{
display: block;
margin: 12px 0px 0px 0px;
}

.column_post.first_post .home_posts_time{
display: inline-block;
margin: 0px 0px 0px 0px;
}

.column_post.first_post .custom_read_more{
margin: 15px 0px 0px 0px;
display: inline-block;
}

.column_post .custom_read_more{
display: none;
}

.column_post .custom_read_more a,
.column_post .custom_read_more a:hover{
color:#fff!important;
}


.column_post .custom_cat_class{ 
display: block;
margin: 0px 5px 0px 0px;
font-size: 10px!important;
line-height: 22px!important;
color:#999;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}

.column_post.first_post .post-single-rate,
.column_post.first_post .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.column_post .post-single-rate{
display: none!important;
}

.column_post .post-single-rate-points{
position: absolute; 
right: 0px;
top: 0px;
z-index: 1;
}

.column_post.first_post .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}
.column_post .post-single-rate-stars{
position: absolute; 
right: 0px;
top: 0px;
z-index: 1;
}

.column_post .post-single-rate.hide,
.column_post .post-single-rate-stars.hide,
.column_post .post-single-rate-points.hide{
display: none!important;
}




.column_post.first_post.main_featured_post{
background: #fff!important;
height: 304px;
overflow: hidden;
}

#home_content.content_full_width .column_post.first_post.main_featured_post{
height: 320px;
}

.column_post.first_post.main_featured_post p,
.column_post.first_post.main_featured_post .custom_read_more,

.column_post.first_post.main_featured_post .post_format_video,
.column_post.first_post.main_featured_post .post_format_image,
.column_post.first_post.main_featured_post .post_format_audio{
display: none; 
}

.column_post.first_post.main_featured_post .short_image_shadow{
background: url("../images/big_shadow.png") repeat-x bottom;
background-color: #000!important;
opacity:0.4;
transform: rotate(0deg);
transition: 0.1s;
}

.column_post.first_post.main_featured_post .short_image_box:hover .short_image_shadow{
opacity:0.4;
transform: rotate(0deg);
}

.column_post.first_post.main_featured_post .column_title {
position: absolute;
bottom: 20px;
left: 20px;
width: 80%!important;
display: inline-block;
padding: 0px;
}

.column_post.first_post.main_featured_post .column_title h2,
.column_post.first_post.main_featured_post .column_title h3{
font-size: 25px;
line-height: 35px;
font-weight: bold;
}
#home_content.content_full_width .column_post.first_post.main_featured_post .column_title h2, 
#home_content.content_full_width .column_post.first_post.main_featured_post .column_title h3{
font-size: 25px;
line-height: 35px;
}

.column_post.first_post.main_featured_post .column_title a{
font-weight: bold;
color: #fff;
transition:0.2s;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.column_post.first_post.main_featured_post .column_title a:hover{
color: #fff;
}

.column_post.first_post.main_featured_post:hover .column_title a{
color: #fff;
}

.column_post.first_post.main_featured_post .meta_info_box{
display: block;
}

.column_post .gallery_meta{
display: none; 
}

.column_post.main_featured_post .gallery_meta{
display: inline-block;
}




/**************************************************
            Home Blog posts 
***************************************************/


#home_blog_posts{
background: #fff!important;
display: inline-block;
position: relative; 
margin: 0px 0px 10px 0px!important;
width: 103%!important;
height: 100%;
}

#home_content.content_full_width #home_blog_posts{
width: 102%!important;
}

.blog_post {
float: left;
display: inline-block;
width: 97.2%!important;
position: relative;
padding: 0px 0px 0px 0px!important;
margin: 0px 20px 25px 0px!important;
}

#home_content.content_full_width .blog_post {
width: 100%!important;
}


.blog_post.Two_column_column {
width: 94%!important;
}

#home_content.content_full_width .blog_post.Two_column_column {
width: 96%!important;
}


.blog_post.Three_column_column {
width: 91.3%!important;
}

#home_content.content_full_width .blog_post.Three_column_column {
width: 93.8%!important;
}


.blog_post.Four_column_column {
width: 88.2%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 92.3%!important;
}


.blog_post .short_image_box{
height: 100%!important;
}

.blog_post img {	
float: left;
display: inline-block;
width: 100%;
height: auto;
padding: 0px;
margin: 0px;
}

.blog_post img:hover {	
opacity: 1;  
}

.blog_title a{
color: #000;
transition:0.2s;
}

.blog_title a:hover{
color: #000;
text-decoration: underline;
}

.blog_post .blog_title {
max-width: 100%!important;
display: inline-block;
padding: 15px 0px 12px 0px;
font-size: 25px;
line-height: 35px;
font-weight: normal;
text-transform: uppercase;
}

.blog_post .blog_title h2,
.blog_post .blog_title h3{
font-weight: normal;
}

#home_content.content_full_width .blog_post .blog_title h2,
#home_content.content_full_width .blog_post .blog_title h3{
font-size: 40px;
line-height: 50px;
}

.blog_post.Two_column_column .blog_title h2,
.blog_post.Two_column_column .blog_title h3 {
font-size: 25px;
line-height: 35px;
}
#home_content.content_full_width .blog_post.Two_column_column .blog_title h2, 
#home_content.content_full_width .blog_post.Two_column_column .blog_title h3{
font-size: 25px;
line-height: 35px;
}

.blog_post.Three_column_column .blog_title h2,
.blog_post.Three_column_column .blog_title h3 {
font-size: 16px;
line-height: 26px;
}
#home_content.content_full_width .blog_post.Three_column_column .blog_title h2,
#home_content.content_full_width .blog_post.Three_column_column .blog_title h3{
font-size: 20px;
line-height: 30px;
}

.blog_post.Four_column_column .blog_title h2,
.blog_post.Four_column_column .blog_title h3{
font-size: 14px;
line-height: 22px;
}
#home_content.content_full_width .blog_post.Four_column_column .blog_title h2,
#home_content.content_full_width .blog_post.Four_column_column .blog_title h3{
font-size: 18px;
line-height: 28px;
}


.blog_post p{
display: inline-block;
padding: 0px 0px 0px 0px!important;
font-size: 13px;
line-height: 23px;
color:#555;
}
#home_content.content_full_width .blog_post p{
font-size: 14px;
line-height: 24px;
}


.blog_post .meta_info_box{
display: block;
margin: 0px 0px 10px 0px;
}

.blog_post .home_posts_time{
display: inline-block;
margin: 0px 0px 0px 0px;
}

.blog_post .custom_read_more{
margin: 15px 0px 0px 0px;
display: inline-block;
}

.blog_post .custom_read_more a{
color:#fff;
}

.blog_post .custom_read_more a:hover{ 
background-color: #222!important;
color: #fff!important;
}

.blog_post .custom_cat_class{ 
display: block;
margin: 0px 5px 0px 0px;
font-size: 10px!important;
line-height: 22px!important;
color:#999;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}



.blog_post .post-single-rate,
.blog_post .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.blog_post .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.blog_post .post-single-rate.hide,
.blog_post .post-single-rate-stars.hide,
.blog_post .post-single-rate-points.hide{
display: none!important;
}



.blog_post.main_featured_post{
border: none;
height: auto;
overflow: hidden;
}

.blog_post.main_featured_post p,
.blog_post.main_featured_post .custom_read_more,

.blog_post.main_featured_post .post_format_video,
.blog_post.main_featured_post .post_format_image,
.blog_post.main_featured_post .post_format_audio{
display: none; 
}

.blog_post.main_featured_post .meta_info_box{
display: none; 
margin: 0px 0px 0px 0px;
}
.blog_post.main_featured_post .gallery_meta .meta_info_box{
display: inline-block;
}

.blog_post .gallery_meta{
display: none; 
}

.blog_post.main_featured_post .gallery_meta{
display: inline-block;
}

.blog_post.main_featured_post .short_image_shadow{
background: url("../images/big_shadow.png") repeat-x bottom;
background-color: #000!important;
opacity:0.4;
transform: rotate(0deg);
transition: 0.1s;
}

.blog_post.main_featured_post .short_image_box:hover .short_image_shadow{
opacity:0.4;
transform: rotate(0deg);
}

.blog_post.main_featured_post .blog_title {
position: absolute;
bottom: 20px;
left: 20px;
width: 85%!important;
display: inline-block;
padding: 0px;
font-size: 25px;
line-height: 35px;
font-weight: bold;
}

.blog_post.main_featured_post .blog_title a{
font-weight: bold;
color: #fff;
transition:0.2s;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.blog_post.main_featured_post .blog_title a:hover{
color: #fff;
}

.blog_post.main_featured_post:hover .blog_title a{
color: #fff;
}


.blog_post.main_featured_post,
.blog_post.Two_column_column.main_featured_post,
.blog_post.Three_column_column.main_featured_post,
.blog_post.Four_column_column.main_featured_post {
background: #fff!important;
}

#home_content.content_full_width .blog_post.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.main_featured_post .blog_title h3 {
font-size: 45px;
line-height: 55px;
}

.blog_post.Two_column_column.main_featured_post .blog_title h2,
.blog_post.Two_column_column.main_featured_post .blog_title h3{
font-size: 25px;
line-height: 35px;
}
#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.Two_column_column.main_featured_post .blog_title h3{
font-size: 35px;
line-height: 45px;
}

.blog_post.Three_column_column.main_featured_post .blog_title h2,
.blog_post.Three_column_column.main_featured_post .blog_title h3{
font-size: 20px;
line-height: 30px;
}
#home_content.content_full_width .blog_post.Three_column_column.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.Three_column_column.main_featured_post .blog_title h3 {
font-size: 25px;
line-height: 35px;
}

.blog_post.Four_column_column.main_featured_post .blog_title h2,
.blog_post.Four_column_column.main_featured_post .blog_title h3{
font-size: 17px;
line-height: 25px;
}
#home_content.content_full_width .blog_post.Four_column_column.main_featured_post .blog_title h2,
#home_content.content_full_width .blog_post.Four_column_column.main_featured_post .blog_title h3 {
font-size: 23px;
line-height: 30px;
}




/**************************************************
               Home Simple posts
***************************************************/


#home_simple_posts{
background: #fff!important;
display: inline-block;
position: relative;
margin: 0px 0px 10px 0px!important;
padding: 0px 0px 20px 0px;
width: 100%!important;
height: 100%;
}

.simple_post {
background: url("../images/main_post_bg.png") repeat-x left bottom #fff!important;
float: left;
display: inline-block;
position: relative;
padding: 0px 0px 0px 0px;
margin: 0px 0px 25px 0px;
width: 100%!important;
}

.simple_post .short_image_box{
position: relative;
height: 100%!important;
float: left!important;
margin: 0px 25px 0px 0px;
}

#home_content.content_full_width .simple_post .short_image_box{
margin: 0px 30px 0px 0px;
}

.simple_post img {	
float: left;
display: inline-block;
width: 100%;
height: auto;
padding: 0px;
margin: 0px;
}

.simple_post img:hover {	
opacity: 1; 
}

.simple_title{
width: 100%!important;
margin: 0px 0px 10px 0px;
display: block;
font-size: 23px;
line-height: 33px;
font-weight: normal!important;
width: 100%;
text-decoration: none!important;
text-transform: uppercase;
}
#home_content.content_full_width .simple_title{
font-size: 25px;
line-height: 35px;
}

.simple_title a{
color: #000;
transition:0.2s;
}

.simple_title a:hover{
color: #000;
text-decoration: underline;
}

.simple_post p{
width: 100%!important;
display: block;
padding: 5px 0px 0px 0px!important;
font-size: 13px;
line-height: 23px;
color: #555!important;
}
#home_content.content_full_width .simple_post p{
font-size: 14px;
line-height: 24px;
}

.simple_post .meta_info_box{
display: block;
width: 100%!important;
margin: 0px 0px 37px 0px!important;
}

.simple_post .home_posts_time{
display: inline-block;
margin: 0px 0px 0px 0px;
}

.simple_post .custom_read_more{
margin: 0px 0px 0px 0px;
display: inline-block;
float: right;
}

.simple_post .custom_cat_class{ 
display: block;
margin: 0px 5px 0px 0px;
font-size: 10px!important;
line-height: 22px!important;
color:#999;
font-weight: normal;
text-decoration: none;
text-transform: uppercase;
}



.simple_post .post-single-rate,
.simple_post .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.simple_post .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.simple_post .post-single-rate.hide,
.simple_post .post-single-rate-stars.hide,
.simple_post .post-single-rate-points.hide{
display: none!important;
}


.simple_post.main_featured_post{
margin: 0px 0px 25px 0px;
width: 100%!important;
height: auto;
overflow: hidden;
}

.simple_post.main_featured_post .short_image_box,
#home_content.content_full_width .simple_post.main_featured_post .short_image_box{
margin: 0px 0px 0px 0px;
}

.simple_post.main_featured_post .meta_info_box,
.simple_post.main_featured_post p,
.simple_post.main_featured_post .custom_read_more,

.simple_post.main_featured_post .post_format_video,
.simple_post.main_featured_post .post_format_image,
.simple_post.main_featured_post .post_format_audio{
display: none; 
}

.simple_post.main_featured_post .short_image_shadow{
background: #000!important;
opacity:0.3;
transform: rotate(0deg);
transition: 0.1s;
}

.simple_post.main_featured_post .short_image_box:hover .short_image_shadow{
opacity:0.3;
transform: rotate(0deg);
}

.simple_post.main_featured_post .simple_title {
position: absolute;
bottom: 60px;
left: 20px;
width: 80%!important;
display: inline-block;
padding: 0px;
font-size: 25px;
line-height: 35px;
font-weight: bold;
}

.simple_post.main_featured_post .simple_title a{
font-weight: bold;
color: #fff;
transition:0.2s;
}

.simple_post.main_featured_post .simple_title a:hover{
color: #fff;
}

.simple_post.main_featured_post:hover .simple_title a{
color: #fff;
}


.simple_post.main_featured_post {
background: #fff!important;
}

.simple_post.main_featured_post .simple_title{
bottom: 80px;
font-size: 40px;
line-height: 50px;
}

#home_content.content_full_width .simple_post.main_featured_post .simple_title {
font-size: 45px;
line-height: 55px;
}






/**************************************************
               Home Gallery posts
***************************************************/



.home_gallery_posts{
background: #fff!important;
display: inline-block;
position: relative;
margin: 0px 0px 30px 0px!important;
padding: 0px 0px 0px 0px;
width: 101%!important;
height: 100%;
}

.gallery_post {
background: #fff!important;
float: left;
display: inline-block;
position: relative;
padding: 0px;
margin: 0px 5px 5px 0px;
overflow: hidden;
}

.Layout_one.gallery_post {
width: 49.2%;
}
#home_content.content_full_width .Layout_one.gallery_post{
width: 49.3%;
}


.Layout_two.gallery_post.first_post,
.Layout_two.gallery_post.fourth_post{
width: 65%;
height: 260px;
}

.Layout_two.gallery_post.second_post,
.Layout_two.gallery_post.third_post{
width: 33.4%;
height: 260px;
}


#home_content.content_full_width .Layout_two.gallery_post.first_post,
#home_content.content_full_width .Layout_two.gallery_post.fourth_post{
height: 320px;
}

#home_content.content_full_width .Layout_two.gallery_post.second_post,
#home_content.content_full_width .Layout_two.gallery_post.third_post{
width: 33.6%;
height: 320px;
}


.Layout_three.gallery_post.first_post{
width: 49.2%;
height: 505px;
}

.Layout_three.gallery_post.second_post,
.Layout_three.gallery_post.third_post{
width: 49.2%;
height: 250px;
}

.Layout_three.gallery_post.fourth_post{
display: none; 
}

#home_content.content_full_width .Layout_three.gallery_post.first_post{
height: 605px;
}


#home_content.content_full_width .Layout_three.gallery_post.second_post,
#home_content.content_full_width .Layout_three.gallery_post.third_post{
width: 49.3%;
height: 300px;
}

.Layout_three.gallery_post.first_post .gallery_title,
#home_content.content_full_width .Layout_three.gallery_post.first_post .gallery_title {
bottom: 40px;
}

.Layout_four.gallery_post.first_post{
width: 49.2%;
height: 505px;
}

.Layout_four.gallery_post.second_post,
.Layout_four.gallery_post.third_post,
.Layout_four.gallery_post.fourth_post{
width: 49.2%;
height: 165px;
}

#home_content.content_full_width .Layout_four.gallery_post.first_post{
height: 610px;
}
#home_content.content_full_width .Layout_four.gallery_post.second_post,
#home_content.content_full_width .Layout_four.gallery_post.third_post,
#home_content.content_full_width .Layout_four.gallery_post.fourth_post{
width: 49.3%;
height: 200px;
}

.Layout_four.gallery_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post .gallery_title {
bottom: 20px;
}
.Layout_four.gallery_post.first_post .gallery_title,
#home_content.content_full_width .Layout_four.gallery_post.first_post .gallery_title {
bottom: 40px;
}



.gallery_post .short_image_box{
display: block; 
}

.gallery_post .short_image_shadow{
background: url("../images/big_shadow.png") repeat-x bottom;
background-color: #000!important;
opacity:0.4;
transform: rotate(0deg);
transition: 0.1s;
}

.gallery_post .short_image_box:hover .short_image_shadow{
opacity:0.4;
transform: rotate(0deg);
}

.gallery_post img {	
float: left;
display: block; 
width: 100%;
height: auto;
padding: 0px;
margin: 0px;
}

.gallery_post img:hover {	
opacity: 1; 
}

.gallery_post .gallery_title {
position: absolute;
bottom: 20px;
left: 20px;
width: 85%!important;
display: inline-block;
padding: 0px;
}

.gallery_post .gallery_title h2,
.gallery_post .gallery_title h3{
font-size: 25px;
line-height: 35px;
font-weight: normal!important;
text-decoration: none!important;
text-transform: uppercase;
}

.gallery_post .gallery_title p {
display: none;
padding: 15px 0px 0px 0px!important;
width: 100%;
font-size: 14px;
line-height: 20px;
text-transform: none;
color: #fff;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.gallery_post:first-child .gallery_title p {
display: inline-block;
}

.Layout_one.gallery_post p,
.Layout_two.gallery_post.first_post p,
.Layout_two.gallery_post.fourth_post p{
display: inline-block;
padding: 15px 0px 0px 0px!important;
}


.gallery_meta {
display: inline-block;
padding: 0px 0px 0px 0px!important;
font-size: 14px;
line-height: 20px;
color: #fff;
}

.gallery_meta .home_posts_time{
background-color: #f14d4d;
background-image: none;
margin: 0px 5px 0px 0px!important;
padding: 1px 6px 0px 6px!important;
font-size: 10px;
line-height: 20px;
font-weight: bold;
color:#fff;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.gallery_meta .home_posts_cats_box{
background: none;
display: inline-block;
float: left;
margin: 0px 8px 0px 0px;
padding: 0px 0px 0px 0px!important;
}

.gallery_meta .home_posts_cats_box .custom_cat_class{
background-color: #f14d4d;
display: inline-block;
float: left;
margin: 0px 5px 0px 0px;
padding: 1px 6px 0px 6px!important;
font-size: 10px;
line-height: 20px!important;
color:#fff;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
}

.gallery_meta .home_posts_cats_box .custom_cat_class:hover{
text-decoration: none;
}


#home_content.content_full_width .gallery_post .gallery_title {
bottom: 20px;
font-size: 35px;
line-height: 45px;
}

.gallery_post .gallery_title a{
font-weight: bold;
color: #fff;
transition:0.2s;
text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
}

.gallery_post .gallery_title a:hover{
color: #fff;
text-decoration: underline;
}

.gallery_post:hover .gallery_title a{
color: #fff;
}

.gallery_post p{
display: inline-block;
}

.gallery_post .post-single-rate,
.gallery_post .post-single-rate-points{
display: block!important;
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.gallery_post .post-single-rate-stars{
position: absolute; 
left: auto;
right: 0px;
top: 0px;
z-index: 1;
}

.gallery_post .post-single-rate.hide,
.gallery_post .post-single-rate-stars.hide,
.gallery_post .post-single-rate-points.hide{
display: none!important;
}


/****************************************************

	-	BASIC SETTINGS FOR GALLERY GRIDS	-

******************************************************/

	
.megafolio-container{
display: inline-block;
width: 99.5%;
height: auto;
position: relative;
margin: 0px 0px 30px 0px;
}		
	
.mega-entry{
-moz-box-sizing: border-box; 
box-sizing: border-box; 
-webkit-box-sizing: border-box;
position:absolute;
-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-o-transition: all 0.6s ease-out;
-ms-transition: all 0.6s ease-out;

-webkit-transform: translateZ(10);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
z-index:2;
}

.mega-entry .mega-entry-innerwrap{	
width:100%;
height:100%;
position:relative;
overflow:visible;
z-index:2;
-moz-box-sizing: border-box; 
box-sizing: border-box; 
-webkit-box-sizing: border-box;

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-webkit-transform: translateZ(10);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}

	.ie8 .mega-entry,
	.ie8 .mega-entry .mega-entry-innerwrap,
	.ie9 .mega-entry,
	.ie9 .mega-entry .mega-entry-innerwrap	{	overflow:hidden;}

	.mega-entry-innerwrap.pagetop			{	-webkit-transform-origin: 50% 0% 0;
											-moz-transform-origin: 50% 0% 0;
											transform-origin: 50% 0% 0;
										}

	.mega-entry-innerwrap.pagebottom			{	-webkit-transform-origin: 50% 100% 0;
											-moz-transform-origin: 50% 100% 0;
											transform-origin: 50% 100% 0;
										}

	.mega-entry-innerwrap.pagemiddle			{	-webkit-transform-origin: 50% 50% 0;
											-moz-transform-origin: 50% 50% 0;
											transform-origin: 50% 50% 0;
										}
									
	.megafolio-container.norounded .mega-entry .mega-entry-innerwrap {
										border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;
										}
	.megafolio-container-splash.norounded .mega-entry .mega-entry-innerwrap {
										border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;
										}



	/** IE HACKS **/

	.ieimg	{	position:absolute; width:100%; top:0px; left:0px;z-index:0;}

	.mega-mega-entry-added					{	visibility: hidden; }
	.mega-mega-entry-added .mega-socialbar,
	.mega-mega-entry-added .mega-covercaption	{	visibility: hidden}




	
	
	

/*----------- Home video Slider ----------*/

.master-slider{
padding: 0px 0px 0px 0px;
position: relative;
visibility:hidden;
-moz-transform: translate3d(0 , 0 , 0);
}

.ms-videogallery-template {
padding-bottom: 200px;
}

#home_content.content_full_width .ms-videogallery-template {
padding-bottom: 240px;
}

.master-slider.ms-fullheight{height: 100%;}

.master-slider.before-init{}

.master-slider img {max-width:none;}

.ms-ie img{border:none;}
.ms-ie8 * {opacity:inherit;filter:inherit;}
.ms-ie7   {zoom:1;}

.ms-loading-container{
	position:absolute;
	width:100%;
	top:0;
}

.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
	width: 36px;
	height: 36px;
	background: url(../images/loading-2.gif) no-repeat center white;
	border-radius: 60px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -18px;
	opacity: 0.9;
}

.ms-def-cursor{cursor:auto !important;}

.ms-grab-cursor{

cursor: url("../images/grab.png"), move;
}

.ms-grabbing-cursor{
cursor: url("../images/grabbing.png"), move;
}

.ms-ie .ms-grab-cursor{
cursor: url("../images/grab.cur"), move;
}

.ms-ie .ms-grabbing-cursor {
cursor: url("../images/grabbing.cur"), move;
}

.ms-view { 
	margin:0px auto;
	overflow:hidden;
	position:relative;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.ms-view .ms-slide-container{position:relative;}

.ms-slide {
	position:absolute;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	height:100%;
}

.ms-slide.selected {}

.ms-slide .ms-slide-bgcont,
.ms-slide .ms-slide-bgvideocont{
	position: absolute;
	overflow:hidden;
	width: 100%;
}

.ms-slide .ms-slide-bgvideocont{
	z-index: 5;
	height: 100%;
}

.ms-slide .ms-slide-bgvideocont,
.ms-slide-bgvideocont>video{
	-webkit-transform: translateZ(0.3px);
	-moz-transform: translateZ(0.3px);
	-ms-transform: translateZ(0.3px);
	-o-transform: translateZ(0.3px);
	transform: translateZ(0.3px);
}

.ms-slide .ms-slide-bgvideo{
	position: absolute;
	top: 0px;
}


.ms-container {position: relative; margin:0 auto;}
.ms-slide .ms-slide-bgcont img , .ms-container{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.ms-slide .ms-layer{position:absolute;}

.ms-slide .ms-slide-layers{
	position: absolute;
	overflow:hidden;
	width:100%;
	height: 100%;
	z-index: 10;
	top:0px;
}

.ms-slide .ms-slide-video{
	position:absolute;
	top:0;
	z-index: 11;
	background:black;
	padding:0;
	margin: 0;
	border: none;

}

.ms-layer.video-box{background:black;}
.ms-layer.video-box iframe{
	padding:0;
	margin: 0;
	border: none;
	position: absolute;
	z-index: 10;
}

.ms-slide .ms-slide-vpbtn , .ms-slide .ms-video-btn{
	position:absolute;
	cursor: pointer;
	z-index: 99;
}

.ms-slide .ms-slide-vcbtn{
	position:absolute;
	cursor: pointer;
	z-index: 13;
}

.ms-slide-vcbtn-mobile{
	position: relative;
	bottom: 0;
	left:0;
	width:100%;
	height: 28px;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
	z-index: 13;
}

.ms-slide-vcbtn-mobile .ms-vcbtn-txt {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.75em;
    display: inline-block;
	background: url("../images/video.png") no-repeat 0px 3px;
    padding-left: 15px;
    height: 15px;
    color: #DBDBDB;
    margin-top: 7px;
}

.ms-slide .ms-slide-vcbtn,
.ms-slide .ms-slide-layers,
.ms-slide .ms-slide-vpbtn,
.ms-slide .ms-slide-video {
	-webkit-transform: translateZ(0.44px);
	-moz-transform: translateZ(0.44px);
	-ms-transform: translateZ(0.44px);
	-o-transform: translateZ(0.44px);
	transform: translateZ(0.44px);
}

.ms-video-img{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.ms-mask-frame{
	overflow:hidden;
	position:absolute;
	float:left;
}

/* controls */

.ms-thumb-list{
	overflow:hidden;
	position:absolute;
}
.ms-thumbs-cont{position: relative;}
.ms-thumb-frame img{width:100%;	height:auto;}
.ms-thumb-frame{
	cursor:pointer;
	float: left;
	overflow: hidden;
}

.ms-bullet{cursor:pointer;float: left;}

.ms-sbar .ms-bar{
	position:relative;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.ms-time-bar{
	-webkit-transition: width 120ms linear;
	-moz-transition: width 120ms linear;
	-ms-transition: width 120ms linear;
	-o-transition: width 120ms linear;
	transition: width 120ms linear;

}

.ms-ie7 .ms-tooltip-arrow{
	height:0px;
}

.ms-videogallery-template .ms-layer.video-title {
background: rgba(0, 0, 0, 0.5);
left:0px; 
bottom:0px;
display: inline-block;
width: 100%;
font-weight: normal;
color: #000;
font-size: 25px!important;
line-height: 35px!important;
padding: 15px 0px!important;
text-transform: uppercase;
text-align: center;
}

.ms-videogallery-template .ms-layer.video-title a{
color: #fff;
}

.ms-videogallery-template .ms-layer.video-author {
background: #00c0ff;
display: inline-block;
right:20px; 
top: 10px!important;
font-weight: normal;
color: #fff;
font-size: 11px!important;
line-height: 21px!important;
padding: 0px 5px!important;
border-radius: 5px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h {
	bottom:auto;
	height:auto;
	width: 100%;
}

.ms-videogallery-template .ms-thumb-frame {
	cursor: pointer;
	float: left;
	color: #000;
	position: relative;
	overflow: visible;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
width: 146px;
height: auto;
margin: 10px 10px 0 0;
}


.ms-videogallery-template .ms-thumb{text-align: center;}
.ms-videogallery-template .ms-thumb-frame h3 {
font-size: 12px;
line-height: 20px;
margin: 10px 0px 0px 0px;
font-weight: normal;
text-transform: uppercase;
}

.ms-thumb-box {
position: relative;
display: block;
overflow: hidden;
}

.ms-videogallery-template .ms-thumb-frame p {
text-indent: 0px;
}

.ms-videogallery-template .ms-thumb img{
display: block;
width: 146px;
height: 85px;
}

.ms-videogallery-template .ms-thumb-frame-selected { opacity: 1!important; }
.ms-videogallery-template .ms-thumb-ol {
display: block;
    width: 146px;
    background: black;
    opacity: 0.2;
    height: 85px;
    position: absolute;
    top: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}


.ms-videogallery-template .ms-thumb-frame-selected .ms-thumb-ol {opacity: 0;}

.ms-videogallery-template .ms-ie7 .ms-thumb-ol,
.ms-videogallery-template .ms-ie8 .ms-thumb-ol{display:none;}


	
	
/**
 *  Default Skin
 */

.ms-skin-default .ms-slide .ms-slide-vpbtn,
.ms-skin-default .ms-video-btn{
	width: 50px;
	height: 51px;
	background: url("../images/light-skin-1.png") no-repeat -14px -150px;	
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}

.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width: 30px;
	height: 30px;
	background: url("../images/light-skin-1.png") no-repeat -24px -28px; 
	top: 18px;
	right: 30px;
}

/* controls */

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url("../images/light-skin-1.png");
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 10;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}

.ms-skin-default .ms-thumb-frame-selected {
	opacity: 1;
}

.ms-skin-default .ms-thumb-list.ms-dir-h {
bottom: -190px;
width: 100%;
height: 190px;
}


.ms-skin-default .ms-thumb-frame {
	cursor: pointer;
	float: left;
	width: 60px;
	height: 60px;
	margin: 1px 0 0 1px;
	overflow: hidden;
}

.ms-skin-default .ms-bullets.ms-dir-h {
	position: absolute;
	bottom: 20px;
	right: 50%;
	width: 100px;
}

.ms-skin-default .ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}

.ms-skin-default .ms-bullet {
	width: 10px;
	height: 10px;
	background: url("../images/light-skin-1.png") no-repeat;
	margin: 4px;
	background-position: -34px -117px;
}

.ms-skin-default .ms-bullet-selected {
	background-position: -34px -84px;
}

.ms-skin-default .ms-sbar {
	position: absolute;
}

.ms-skin-default .ms-sbar.ms-dir-h {
	left: 10px;
	right: 10px;
	top: 5px
}

.ms-skin-default .ms-sbar .ms-bar {
	height: 4px;
	background: #DD00FF;
	border-radius: 4px;
}

.ms-skin-default .ms-timerbar {
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.ms-skin-default .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
	border-top: solid 1px rgba(0, 0, 0, 0.41);
}

.ms-skin-default .ms-ctimer {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
}

.ms-skin-default .ms-ctimer-bullet {}

.ms-skin-default .ms-tooltip{
	position: absolute;
	z-index: 110;
	cursor: auto;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow{
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}

.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow{
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(240, 240, 240, 0.88);
	bottom: -10px;
}

.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(240, 240, 240, 0.88);
	top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow{
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow{
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(240, 240, 240, 0.88);
	left: -10px;
}

.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 10px;
	border-left-color: silver;
	border-left-color: rgba(240, 240, 240, 0.88);
	right: -10px;
}

@keyframes point-anim{
	0% 		{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5);  opacity: 1; }
	100% 	{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5);  opacity: 0; }
}

@-webkit-keyframes point-anim{
	0% 		{-webkit-transform: scale(0.5); opacity: 1; }
	100% 	{-webkit-transform: scale(1.5);	opacity: 0; }
}

.ms-skin-default .ms-tooltip-point {cursor: pointer;}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px; 
	border-radius: 15px;
	border: solid 2px #BBB;
	background: white;
	margin: -8px 0 0 -8px;
	position: absolute;
	z-index: 5;
}

.ms-skin-default .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px; 
	background: black;
	background:rgba(0, 0, 0, 0.36);
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	
	animation: point-anim 1.5s infinite ;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}

/* In Android browser, using css animations over slider causes some crashes */
.ms-android.ms-skin-default .ms-tooltip-point .ms-point-border{
	animation:none;
	-moz-animation:none;
	-webkit-animation:none;
	-o-animation:none;
}

.ms-skin-default .ms-tooltip {
	max-width:200px;
}

.ms-skin-default .ms-tooltip-cont {
	padding: 10px;
	background: silver;
	background: rgba(240, 240, 240, 0.88);
	text-shadow: 0 1px 0px white;
	margin-left: -1px;
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	.ms-skin-default .ms-slide .ms-slide-vpbtn,
	.ms-skin-default .ms-video-btn,
	.ms-skin-default .ms-slide .ms-slide-vcbtn,
	.ms-skin-default .ms-nav-next,
	.ms-skin-default .ms-nav-prev,
	.ms-skin-default .ms-bullet{
		background-image:url(light-skin-1-retina.png);
		background-size: 152px 225px;
	}
	
}
	
	

	
ul.wpb_tabs_nav.ui-tabs-nav {
margin: 0px 0px 20px 0px;
}
