
.on_off input {
border: none;

width: 105px;
height: 37px;
background: url(../images/check_off.png) no-repeat;
box-shadow: none;
transition: all .3s ease;
text-indent: -9999px;
}

.on_off input[type="checkbox"]:checked 
{
border: none;
background: url(../images/check_on.png) no-repeat;
box-shadow: none;
text-indent: -9999px;
}

.on_off input[type="checkbox"]:focus 
{
border: none;
box-shadow: none;
}
